/* lnk on detail product page */
#wishlist_button, #wishlist_button_nopop {
  display: inline-block;
  font-weight: 400;
  cursor: pointer;
  line-height: 1; }
  #wishlist_button span, #wishlist_button_nopop span {
    display: none; }
  #wishlist_button:before, #wishlist_button_nopop:before {
    font-family: "fl-chapps";
    content: "\e00b";
    display: inline-block;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    display: inline-block; }
  #wishlist_button:hover, #wishlist_button_nopop:hover {
    color: #eb2972; }

/* --wishlist block-- */
#wishlist_block #wishlist_block_list {
  margin: 0 0 20px 0; }
  #wishlist_block #wishlist_block_list dl {
    font-weight: 400; }
    #wishlist_block #wishlist_block_list dl.products.no-products {
      font-weight: 700;
      padding: 0 0 15px 0;
      border-bottom: 1px solid #bdbdbd; }
      #wishlist_block #wishlist_block_list dl.products.no-products dt {
        padding: 0;
        border-top: none; }
      #wishlist_block #wishlist_block_list dl.products.no-products dd {
        display: none; }
    #wishlist_block #wishlist_block_list dl.products {
      border-bottom: 1px solid #bdbdbd; }
      #wishlist_block #wishlist_block_list dl.products dt {
        padding: 10px 20px 10px 0;
        border-top: 1px solid #bdbdbd;
        position: relative; }
      #wishlist_block #wishlist_block_list dl.products dd .wsl_attr {
        display: block;
        padding: 0 10px 20px 0; }
      #wishlist_block #wishlist_block_list dl.products dt.first_item {
        border-top: none; }
    #wishlist_block #wishlist_block_list dl dt {
      position: relative;
      padding-right: 0; }
    #wishlist_block #wishlist_block_list dl dd {
      margin: 0 0 0 24px; }
#wishlist_block .lnk .form-group {
  margin: 0 0 20px 0; }
  #wishlist_block .lnk .form-group select {
    max-width: 200px; }
    @media (max-width: 767px) {
      #wishlist_block .lnk .form-group select {
        width: 157px; } }
  #wishlist_block .lnk .form-group #uniform-wishlists {
    float: none; }
#wishlist_block .ajax_cart_block_remove_link {
  font-size: 14px;
  line-height: 14px;
  color: #d3d2d2;
  width: 14px;
  height: 14px;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -7px;
  display: inline-block; }
  #wishlist_block .ajax_cart_block_remove_link:hover {
    color: #eb2972; }
#wishlist_block .cart_block_product_name {
  display: inline-block;
  font-weight: bold; }
#wishlist_block .quantity-formated {
  margin: 0 5px 0 0;
  width: 15px; }

#wishlist_block_list .price {
  float: right; }

/* page in my account ************************************************************************* */
#mywishlist td.wishlist_delete a {
  font-size: 15px; }

/* wishlistLinkTop */
#module-blockwishlist-mywishlist #block-order-detail #hideSendWishlist {
  display: inline-block; }

#module-blockwishlist-mywishlist .wishlistLinkTop ul.display_list {
  border-bottom: 1px solid #bdbdbd;
  margin-bottom: 20px; }
  #module-blockwishlist-mywishlist .wishlistLinkTop ul.display_list a {
    display: inline-block;
    color: #949494;
    margin: 10px 10px 10px 0;
    font-weight: bold; }
    #module-blockwishlist-mywishlist .wishlistLinkTop ul.display_list a:hover {
      color: #eb2972; }

#module-blockwishlist-mywishlist .wishlistLinkTop li {
  float: left; }

#module-blockwishlist-mywishlist .wishlistLinkTop #hideSendWishlist {
  float: right; }

#hideSendWishlist:hover {
  color: #eb2972; }

#module-blockwishlist-mywishlist .wishlistLinkTop #showBoughtProducts,
#module-blockwishlist-mywishlist .wishlistLinkTop #hideBoughtProductsInfos {
  display: none; }

/* wlp_bought ****************************************** */
.wishlist_default {
  color: #093; }

/* wlp_bought_list */
ul.wlp_bought_list li {
  margin: 0 0 30px 0;
  padding: 0 15px;
  float: left; }
  @media (max-width: 767px) {
    ul.wlp_bought_list li {
      clear: left;
      width: 100%; } }
  @media (min-width: 992px) {
    body.one-column ul.wlp_bought_list li {
      width: 20%; }
      body.one-column ul.wlp_bought_list li:nth-child(5n+1) {
        clear: left; } }
  @media (min-width: 768px) and (max-width: 991px) {
    body.one-column ul.wlp_bought_list li {
      width: 25%; }
      body.one-column ul.wlp_bought_list li:nth-child(4n+1) {
        clear: left; } }
  @media (min-width: 992px) {
    body.two-columns ul.wlp_bought_list li {
      width: 25%; }
      body.two-columns ul.wlp_bought_list li:nth-child(4n+1) {
        clear: left; } }
  @media (min-width: 768px) and (max-width: 991px) {
    body.two-columns ul.wlp_bought_list li {
      width: 33.33333%; }
      body.two-columns ul.wlp_bought_list li:nth-child(3n+1) {
        clear: left; } }
  @media (min-width: 992px) {
    body.three-columns ul.wlp_bought_list li {
      width: 33.33333%; }
      body.three-columns ul.wlp_bought_list li:nth-child(3n+1) {
        clear: left; } }
  @media (min-width: 768px) and (max-width: 991px) {
    body.three-columns ul.wlp_bought_list li {
      width: 50%; }
      body.three-columns ul.wlp_bought_list li:nth-child(2n+1) {
        clear: left; } }
  ul.wlp_bought_list li .product_image {
    display: block;
    position: relative;
    background: #f4f4f4;
    margin: 0 0 20px 0;
    max-width: 270px; }
  ul.wlp_bought_list li .product-name {
    margin: 0 0 10px 0;
    padding: 0 20px 0 0; }
    ul.wlp_bought_list li .product-name small {
      display: block;
      font-size: 11px; }
      ul.wlp_bought_list li .product-name small a {
        font-size: 11px; }
  ul.wlp_bought_list li .product_infos {
    position: relative; }
  ul.wlp_bought_list li .btn_action .btn {
    margin: 0 0 10px 0; }
  @media (min-width: 992px) {
    ul.wlp_bought_list li {
      /*> 992px*/ }
      ul.wlp_bought_list li.first-in-line {
        clear: left; } }
  @media (min-width: 768px) and (max-width: 991px) {
    ul.wlp_bought_list li {
      /*768px x 991px*/ }
      ul.wlp_bought_list li.first-item-of-tablet-line {
        clear: left; } }

.wishlistLinkTop fieldset {
  clear: both; }
.wishlistLinkTop .submit {
  margin: 0 0 30px 0; }

ul.wlp_bought_list li .lnkdel {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  font-size: 14px; }

#wishlist_button > .btn-group {
  width: 80%; }

ul.product_list.grid > li .product-container .functional-buttons .wishlist .popover,
ul.product_list.list > li .product-container .functional-buttons .wishlist .popover,
[id=wishlist_button] + .popover,
.wishlist_change_button + .popover {
  padding: 0;
  min-width: 160px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  border-color: #bdbdbd; }
  ul.product_list.grid > li .product-container .functional-buttons .wishlist .popover .popover-title,
  ul.product_list.list > li .product-container .functional-buttons .wishlist .popover .popover-title,
  [id=wishlist_button] + .popover .popover-title,
  .wishlist_change_button + .popover .popover-title {
    background: white;
    padding-left: 11px;
    padding-right: 11px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    color: #222222; }
  ul.product_list.grid > li .product-container .functional-buttons .wishlist .popover .popover-content,
  ul.product_list.list > li .product-container .functional-buttons .wishlist .popover .popover-content,
  [id=wishlist_button] + .popover .popover-content,
  .wishlist_change_button + .popover .popover-content {
    padding: 0;
    min-width: 158px;
    color: #222222; }
  ul.product_list.grid > li .product-container .functional-buttons .wishlist .popover table,
  ul.product_list.list > li .product-container .functional-buttons .wishlist .popover table,
  [id=wishlist_button] + .popover table,
  .wishlist_change_button + .popover table {
    margin-bottom: 2px; }
    ul.product_list.grid > li .product-container .functional-buttons .wishlist .popover table td:hover,
    ul.product_list.list > li .product-container .functional-buttons .wishlist .popover table td:hover,
    [id=wishlist_button] + .popover table td:hover,
    .wishlist_change_button + .popover table td:hover {
      background-color: white;
      cursor: pointer; }

[id=wishlist_button] + .popover,
.wishlist_change_button + .popover {
  padding: 0;
  min-width: 150px; }

[id=wishlist_button] + .popover .popover-content,
.wishlist_change_button + .popover .popover-content {
  padding: 0; }

[id=wishlist_button] + .popover table,
.wishlist_change_button + .popover table {
  margin-bottom: 2px; }

[id=wishlist_button] + .popover table td:hover,
.wishlist_change_button + .popover table td:hover {
  background-color: #cccccc;
  cursor: pointer; }

@media (max-width: 479px) {
  #mywishlist .table > thead > tr > th, #mywishlist .table > thead > tr > td, #mywishlist .table > tbody > tr > th, #mywishlist .table > tbody > tr > td, #mywishlist .table > tfoot > tr > th, #mywishlist .table > tfoot > tr > td {
    font-size: 11px;
    font-weight: normal;
    padding: 6px !important; } }
@media (min-width: 768px) and (max-width: 1199px) {
  #mywishlist #block-history .td_none {
    display: none; } }
@media (max-width: 479px) {
  #mywishlist #block-history .td_none {
    display: none; } }
#mywishlist #block-history td.wishlist_default p {
  margin: 0; }

.wishlist-link {
  padding-top: 1px;
  margin-left: 15px; }
  @media (min-width: 1650px) {
    .wishlist-link {
      margin-left: 25px; } }
  .wishlist-link a {
    position: relative;
    padding-left: 38px; }
    .wishlist-link a:before {
      position: absolute;
      color: #222222;
      top: 50%;
      left: 0;
      margin-top: -11px;
      line-height: 22px;
      font-family: "FontAwesome";
      content: "\f08a";
      display: inline-block;
      font-weight: normal;
      -moz-transition: 0.3s all ease;
      -o-transition: 0.3s all ease;
      -webkit-transition: 0.3s all ease;
      transition: 0.3s all ease;
      font-size: 16px; }
    .wishlist-link a:hover:before {
      color: #eb2972; }
  @media (max-width: 1199px) {
    .wishlist-link {
      display: inline-block; }
      .wishlist-link a {
        padding: 0; }
        .wishlist-link a span {
          display: none; }
        .wishlist-link a:before {
          position: static;
          margin: 0; } }
