/*******************************************************************
					Cart Block(Header) Styles
********************************************************************/
#header .shopping_cart {
  margin-left: 35px;
  padding-top: 1px; }
  @media (max-width: 1199px) {
    #header .shopping_cart {
      display: inline-block;
      margin: 0; } }
  @media (min-width: 1200px) {
    #header .shopping_cart {
      position: relative; } }
#header .cart_block {
  display: none;
  width: 230px;
  padding: 24px 28px;
  margin-top: 10px;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 999;
  overflow: hidden;
  background: white;
  border-radius: 0px;
  color: #222222;
  font-size: 15px;
  line-height: 1.6;
  -moz-box-shadow: 0px 15px 62px 0px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0px 15px 62px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 15px 62px 0px rgba(0, 0, 0, 0.12);
  left: auto;
  right: 0;
  width: 420px;
  padding: 30px;
  font-size: 16px;
  text-align: left; }
  @media (min-width: 1200px) and (max-width: 1369px) {
    #header .cart_block {
      font-size: 13px; } }
  @media (min-width: 1360px) {
    #header .cart_block {
      width: 270px;
      padding: 34px 39px 30px; }
      #header .cart_block li + li {
        margin-top: 10px; } }
  @media (min-width: 1200px) {
    #header .cart_block {
      width: 420px; } }
  @media (max-width: 1199px) {
    #header .cart_block {
      right: 50%;
      -moz-transform: translate(50%, 0);
      -ms-transform: translate(50%, 0);
      -o-transform: translate(50%, 0);
      -webkit-transform: translate(50%, 0);
      transform: translate(50%, 0);
      max-width: 100%; } }
  #header .cart_block .cart_block_list {
    padding: 0; }
    @media (min-width: 1200px) {
      #header .cart_block .cart_block_list .products {
        max-height: calc(100vh - 350px);
        overflow-y: auto; } }
#header .block_content {
  margin-bottom: 0; }

/*******************************************************************
					Cart Block(MAIN) Styles
********************************************************************/
.shopping_cart > a:first-child {
  display: inline-block;
  border: none;
  position: relative;
  padding-left: 34px;
  padding-right: 26px; }
  @media (min-width: 768px) and (max-width: 991px) {
    .shopping_cart > a:first-child span.ajax_cart_product_txt, .shopping_cart > a:first-child span.ajax_cart_product_txt_s {
      display: none !important; } }
  .shopping_cart > a:first-child b {
    font-weight: 400;
    padding-right: 5px; }
  .shopping_cart > a:first-child span.ajax_cart_total {
    display: none !important; }
  .shopping_cart > a:first-child span {
    position: absolute;
    top: 50%;
    right: 2px;
    height: 13px;
    width: 13px;
    margin-top: -15px;
    font-size: 7px;
    line-height: 13px;
    text-align: center;
    border-radius: 50%;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
    background: #eb2972;
    color: white; }
    .shopping_cart > a:first-child span.unvisible {
      display: none; }
  .shopping_cart > a:first-child:before {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -10px;
    font-family: "FontAwesome";
    content: "\f07a";
    display: inline-block;
    font-weight: normal;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
    margin-right: 12px;
    font-size: 23px;
    color: #222222; }
  .shopping_cart > a:first-child:hover:before, .shopping_cart > a:first-child:focus:before, .shopping_cart > a:first-child.active:before {
    color: #eb2972; }
  .shopping_cart > a:first-child:hover span, .shopping_cart > a:first-child:focus span, .shopping_cart > a:first-child.active span {
    background: #f6f8f9;
    color: #222222; }
  @media (max-width: 1199px) {
    .shopping_cart > a:first-child {
      padding: 0; }
      .shopping_cart > a:first-child:before {
        position: static;
        margin: 0; }
      .shopping_cart > a:first-child b {
        display: none; } }
.shopping_cart .block_cart_expand:after, .shopping_cart .block_cart_collapse:after {
  font-family: "FontAwesome";
  content: "\f0d7";
  display: inline-block;
  font-weight: normal;
  float: right; }
.shopping_cart .block_cart_collapse:after {
  font-family: "FontAwesome";
  content: "\f0d8";
  display: inline-block;
  font-weight: normal; }

/*******************************************************************
					Cart Block(Drop Down Box) Styles
********************************************************************/
.cart_block {
  display: none;
  width: 230px;
  padding: 24px 28px;
  margin-top: 10px;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 999;
  overflow: hidden;
  background: white;
  border-radius: 0px;
  color: #222222;
  font-size: 15px;
  line-height: 1.6;
  -moz-box-shadow: 0px 15px 62px 0px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0px 15px 62px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 15px 62px 0px rgba(0, 0, 0, 0.12);
  position: static;
  display: block;
  padding: 0; }
  @media (min-width: 1200px) and (max-width: 1369px) {
    .cart_block {
      font-size: 13px; } }
  @media (min-width: 1360px) {
    .cart_block {
      width: 270px;
      padding: 34px 39px 30px; }
      .cart_block li + li {
        margin-top: 10px; } }
  .cart_block .cart_block_list {
    padding: 15px; }
    .cart_block .cart_block_list > .cart-prices .cart-prices-line {
      margin-bottom: 15px; }
      .cart_block .cart_block_list > .cart-prices .cart-prices-line span {
        float: left; }
        .cart_block .cart_block_list > .cart-prices .cart-prices-line span:first-child {
          margin-right: 15px;
          min-width: 90px; }
        .cart_block .cart_block_list > .cart-prices .cart-prices-line span:last-child {
          font-weight: 700;
          color: #222222;
          float: right; }
    .cart_block .cart_block_list .products {
      margin-bottom: 24px; }
    .cart_block .cart_block_list dl a {
      color: #222222; }
      .cart_block .cart_block_list dl a:hover {
        color: #eb2972; }
    .cart_block .cart_block_list dt {
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      align-items: center;
      border-bottom: 1px solid #f4f1e9;
      overflow: hidden; }
    .cart_block .cart_block_list .remove_link {
      line-height: 20px;
      position: absolute;
      right: -3px;
      top: -3px; }
    .cart_block .cart_block_list .remove_link a,
    .cart_block .cart_block_list .ajax_cart_block_remove_link {
      color: #222222; }
      .cart_block .cart_block_list .remove_link a:before,
      .cart_block .cart_block_list .ajax_cart_block_remove_link:before {
        font-family: 'Material Icons';
        content: "\e5cd";
        display: inline-block;
        font-weight: normal;
        font-size: 16px; }
      .cart_block .cart_block_list .remove_link a:hover,
      .cart_block .cart_block_list .ajax_cart_block_remove_link:hover {
        color: #eb2972; }
    .cart_block .cart_block_list .product-atributes {
      padding-bottom: 1px;
      font-size: 11px; }
  .cart_block .cart-images {
    display: block;
    position: relative;
    background: #f4f4f4;
    float: left;
    margin-right: 25px;
    max-width: 30%; }
    @media (min-width: 480px) {
      .cart_block .cart-images {
        margin-right: 35px; } }
    .cart_block .cart-images img {
      max-width: 100%;
      height: auto; }
  .cart_block .cart-info {
    overflow: hidden;
    position: relative;
    padding-right: 20px; }
    .cart_block .cart-info .quantity-formated {
      display: inline-block;
      text-transform: uppercase;
      font-size: 10px;
      padding-right: 5px; }
      .cart_block .cart-info .quantity-formated .quantity {
        font-size: 15px; }
  .cart_block dt {
    font-weight: normal;
    position: relative;
    padding-bottom: 30px;
    margin-top: 30px; }
    .cart_block dt:first-child {
      margin-top: 0; }
    .cart_block dt .product-name {
      color: #949494;
      font: 400 16px/26px "Raleway", sans-serif;
      padding-bottom: 3px; }
      .cart_block dt .product-name a {
        color: #949494;
        font: 400 16px/26px "Raleway", sans-serif; }
        .cart_block dt .product-name a:hover {
          color: #eb2972; }
  .cart_block dd {
    position: relative; }
    .cart_block dd .cart_block_customizations {
      border: 1px solid #f6f8f9;
      margin-top: 10px; }
      .cart_block dd .cart_block_customizations li {
        padding: 10px 20px;
        font-size: 11px; }
        .cart_block dd .cart_block_customizations li .deleteCustomizableProduct {
          position: absolute;
          right: 10px; }
  .cart_block .cart_block_no_products {
    margin: 0;
    padding: 10px 20px; }
  .cart_block .cart-prices {
    line-height: 30px; }
    .cart_block .cart-prices .cart-prices-line {
      overflow: hidden;
      padding: 3px 0; }
      .cart_block .cart-prices .cart-prices-line.last-line {
        border: none; }
  .cart_block .cart-buttons {
    overflow: hidden;
    padding: 0;
    margin: 0; }
    .cart_block .cart-buttons .btn {
      width: 100%;
      margin-top: 15px; }
      @media (min-width: 768px) {
        .cart_block .cart-buttons .btn {
          min-width: 293px; } }
  @media (min-width: 480px) {
    .cart_block .bottom-wrapper {
      width: 100%; }
      .cart_block .bottom-wrapper .cart-prices {
        width: 100%; }
        .cart_block .bottom-wrapper .cart-prices .cart-prices-line span:first-child {
          float: left;
          margin-right: 15px; }
        .cart_block .bottom-wrapper .cart-prices .cart-prices-line span + span {
          float: right; } }
  @media (max-width: 479px) {
    .cart_block .bottom-wrapper .cart-prices .cart-prices-line span:first-child {
      display: inline-block;
      margin-right: 15px;
      min-width: 90px; } }
  .cart_block table.vouchers {
    clear: both;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10px; }
    .cart_block table.vouchers tr td {
      padding: 2px; }
      .cart_block table.vouchers tr td.quantity {
        margin-right: 5px;
        min-width: 18px; }
      .cart_block table.vouchers tr td.delete {
        padding-left: 0;
        padding-right: 0;
        text-align: right;
        width: 15px; }

@media (min-width: 480px) {
  .lang_ru .cart_block .bottom-wrapper .cart-prices .cart-prices-line span:last-child {
    float: left; } }

/*****************************************************************************
					Layer Cart Css
*****************************************************************************/
.layer_cart_overlay {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 9999;
  overflow: hidden;
  -moz-transition: 0.3s opacity ease;
  -o-transition: 0.3s opacity ease;
  -webkit-transition: 0.3s opacity ease;
  transition: 0.3s opacity ease;
  display: none; }

* html .layer_cart_overlay {
  position: absolute;
  left: 0;
  margin-left: -160px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.2; }

#layer_cart {
  background: white;
  -moz-box-shadow: 0 1px 16px rgba(16, 39, 71, 0.5);
  -webkit-box-shadow: 0 1px 16px rgba(16, 39, 71, 0.5);
  box-shadow: 0 1px 16px rgba(16, 39, 71, 0.5);
  border: none;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  z-index: 99999;
  display: none;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  width: 95%;
  max-width: 470px;
  left: 50%;
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0); }
  @media (min-width: 768px) {
    #layer_cart > div:not(.crossseling) {
      display: -webkit-flex;
      display: flex; } }
  @media (min-width: 768px) {
    #layer_cart {
      max-width: 1470px; } }
  #layer_cart .layer_cart_product {
    padding: 40px 20px 20px;
    overflow: hidden;
    position: static; }
    @media (min-width: 480px) {
      #layer_cart .layer_cart_product {
        padding: 40px; } }
    @media (min-width: 1200px) {
      #layer_cart .layer_cart_product {
        padding: 74px 58px; } }
    #layer_cart .layer_cart_product .title {
      display: block;
      position: relative;
      font: 400 36px/1.2 "Playfair Display", serif;
      color: #222222;
      margin: 0 0 22px;
      padding-left: 42px; }
      @media (max-width: 991px) {
        #layer_cart .layer_cart_product .title {
          font-size: 20px;
          padding-left: 32px; } }
      #layer_cart .layer_cart_product .title i {
        position: absolute;
        top: 2px;
        left: 0;
        font-size: 26px;
        line-height: 30px;
        color: #eb2972; }
        @media (max-width: 767px) {
          #layer_cart .layer_cart_product .title i {
            font-size: 22px;
            line-height: 22px; } }
    #layer_cart .layer_cart_product .product-image-container {
      display: block;
      position: relative;
      background: #f4f4f4;
      background: transparent;
      padding: 5px 23%; }
    #layer_cart .layer_cart_product .layer_cart_product_info {
      padding: 30px 10px 10px; }
      #layer_cart .layer_cart_product .layer_cart_product_info #layer_cart_product_title {
        display: block;
        padding-bottom: 8px;
        font-family: "Playfair Display", serif;
        font-size: 20px;
        line-height: 1.2;
        color: #222222; }
      #layer_cart .layer_cart_product .layer_cart_product_info #layer_cart_product_attributes {
        font-size: 14px; }
      #layer_cart .layer_cart_product .layer_cart_product_info > div {
        margin-top: 10px; }
        #layer_cart .layer_cart_product .layer_cart_product_info > div span, #layer_cart .layer_cart_product .layer_cart_product_info > div strong {
          display: inline-block;
          font-size: 15px;
          letter-spacing: 0.1em;
          text-transform: uppercase;
          font-family: "Roboto", sans-serif;
          font-weight: 300;
          color: #a1a1a1; }
        #layer_cart .layer_cart_product .layer_cart_product_info > div span {
          min-width: 112px; }
        #layer_cart .layer_cart_product .layer_cart_product_info > div strong {
          color: #eb2972;
          margin-left: 8px; }
        #layer_cart .layer_cart_product .layer_cart_product_info > div + div {
          margin-top: 3px; }
  #layer_cart .layer_cart_cart {
    background: #f4f4f4;
    padding: 30px 30px 180px;
    position: relative; }
    @media (min-width: 480px) {
      #layer_cart .layer_cart_cart {
        padding: 40px 40px 200px; } }
    @media (min-width: 1200px) {
      #layer_cart .layer_cart_cart {
        padding: 73px 82px 250px; } }
    #layer_cart .layer_cart_cart .title {
      display: block;
      position: relative;
      font: 400 36px/1.2 "Playfair Display", serif;
      color: #222222;
      padding-bottom: 15px;
      padding-left: 43px;
      margin-bottom: 26px; }
      @media (max-width: 991px) {
        #layer_cart .layer_cart_cart .title {
          font-size: 20px;
          padding-left: 32px; } }
      #layer_cart .layer_cart_cart .title i {
        position: absolute;
        top: 3px;
        left: 0;
        font-size: 20px;
        line-height: 26px;
        color: #eb2972; }
        @media (max-width: 767px) {
          #layer_cart .layer_cart_cart .title i {
            font-size: 22px;
            line-height: 22px; } }
      #layer_cart .layer_cart_cart .title .ajax_cart_quantity {
        color: #eb2972; }
    #layer_cart .layer_cart_cart .layer_cart_row {
      padding: 0 0 9px;
      overflow: hidden;
      *zoom: 1; }
      @media (min-width: 992px) {
        #layer_cart .layer_cart_cart .layer_cart_row {
          padding: 0 43px 9px; } }
      #layer_cart .layer_cart_cart .layer_cart_row span, #layer_cart .layer_cart_cart .layer_cart_row strong {
        display: inline-block;
        font-size: 15px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        color: #a1a1a1; }
      #layer_cart .layer_cart_cart .layer_cart_row span {
        float: left; }
      #layer_cart .layer_cart_cart .layer_cart_row strong {
        float: right;
        color: #eb2972;
        margin-left: 8px; }
    #layer_cart .layer_cart_cart .button-container {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 0 15px 20px;
      text-align: center;
      margin-left: -10px; }
      @media (min-width: 480px) {
        #layer_cart .layer_cart_cart .button-container {
          padding: 0 30px 35px; } }
      @media (min-width: 768px) {
        #layer_cart .layer_cart_cart .button-container {
          padding-bottom: 50px; } }
      @media (min-width: 1200px) {
        #layer_cart .layer_cart_cart .button-container {
          padding: 0 80px 90px; } }
      #layer_cart .layer_cart_cart .button-container .btn {
        margin-bottom: 10px;
        padding-left: 32px;
        padding-right: 32px;
        margin-left: 10px; }
  #layer_cart .cross {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 2;
    text-align: center;
    line-height: 30px;
    background-image: none;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease; }
    #layer_cart .cross:before {
      font-family: 'Material Icons';
      content: "\e5cd";
      display: inline-block;
      font-weight: normal;
      font-size: 16px; }
    #layer_cart .cross:hover {
      color: #eb2972; }
  #layer_cart p {
    padding: 0; }

/************************************************************************
						Layer Cart Caroucel
*************************************************************************/
#layer_cart .crossseling .crossseling-content {
  padding: 26px 30px 40px 30px;
  position: relative; }
#layer_cart .crossseling h2 {
  font: 400 20px/1.2 "Playfair Display", serif;
  color: #222222;
  margin-bottom: 25px;
  text-align: center; }
#layer_cart .crossseling #blockcart_list {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 1px; }
  #layer_cart .crossseling #blockcart_list ul {
    display: block; }
    #layer_cart .crossseling #blockcart_list ul li {
      float: left;
      text-align: center; }
      #layer_cart .crossseling #blockcart_list ul li .product-image-container {
        text-align: center;
        padding: 5px;
        margin-bottom: 15px;
        display: block;
        background: #f6f8f9; }
        #layer_cart .crossseling #blockcart_list ul li .product-image-container img {
          display: inline-block; }
      #layer_cart .crossseling #blockcart_list ul li .product-name {
        padding-bottom: 5px; }
        #layer_cart .crossseling #blockcart_list ul li .product-name a {
          font-size: 15px;
          line-height: 20px; }
  #layer_cart .crossseling #blockcart_list .bx-wrapper .bx-controls-direction .bx-prev, #layer_cart .crossseling #blockcart_list .bx-wrapper .bx-controls-direction .bx-next {
    width: 30px;
    height: 30px;
    top: 50%; }
    #layer_cart .crossseling #blockcart_list .bx-wrapper .bx-controls-direction .bx-prev:before, #layer_cart .crossseling #blockcart_list .bx-wrapper .bx-controls-direction .bx-next:before {
      line-height: 30px; }
  #layer_cart .crossseling #blockcart_list .bx-wrapper .bx-controls-direction .bx-prev {
    left: 0; }
  #layer_cart .crossseling #blockcart_list .bx-wrapper .bx-controls-direction .bx-next {
    right: 0; }
