/* block top links */
ul#header_links {
  list-style-type: none;
  overflow: hidden;
  margin: 0; }
  ul#header_links li {
    text-transform: uppercase;
    float: left; }
    ul#header_links li a {
      font-size: 10px;
      line-height: 22px;
      font-weight: 700;
      letter-spacing: 0.1em;
      text-decoration: none;
      color: inherit; }
      @media (min-width: 480px) {
        ul#header_links li a {
          font-size: 11px; } }
      ul#header_links li a:hover, ul#header_links li a.active {
        color: #222222; }
    ul#header_links li + li {
      margin-left: 19px; }
      @media (min-width: 480px) {
        ul#header_links li + li {
          margin-left: 37px; } }

/*block permanent links right and left columns*/
#permanent_links div {
  border-bottom: 1px dotted #eeeeee; }

#permanent_links div a {
  display: block;
  padding: 7px 11px 5px 22px;
  color: #333;
  background: url(img/arrow_right_2.png) no-repeat 10px 10px; }

/* block footer links */
ul#footer_links {
  clear: both;
  text-align: center;
  padding-bottom: 6px; }

ul#footer_links li {
  display: inline;
  padding: 0 10px; }
