#currencies-block-top {
  position: relative;
  text-align: left; }
  #currencies-block-top span.firstWord {
    display: none; }
  #currencies-block-top a {
    color: #949494; }
  #currencies-block-top div.current {
    position: relative;
    display: block;
    font: 700 13px/22px "Raleway", sans-serif;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #949494;
    cursor: pointer;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease; }
    @media (min-width: 1200px) and (max-width: 1649px) {
      #currencies-block-top div.current {
        font-size: 12px; } }
    #currencies-block-top div.current:hover, #currencies-block-top div.current.active {
      color: #222222; }
    #currencies-block-top div.current:after {
      font-family: "FontAwesome";
      content: "\f107";
      display: inline-block;
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
      padding-left: 1px;
      font-weight: normal;
      -moz-transition: 0.3s all ease;
      -o-transition: 0.3s all ease;
      -webkit-transition: 0.3s all ease;
      transition: 0.3s all ease; }
    #currencies-block-top div.current.active:after {
      -moz-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
      -o-transform: rotate(-180deg);
      -webkit-transform: rotate(-180deg);
      transform: rotate(-180deg); }
  #currencies-block-top ul {
    display: none;
    width: 230px;
    padding: 24px 28px;
    margin-top: 10px;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 999;
    overflow: hidden;
    background: white;
    border-radius: 0px;
    color: #222222;
    font-size: 15px;
    line-height: 1.6;
    -moz-box-shadow: 0px 15px 62px 0px rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0px 15px 62px 0px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 15px 62px 0px rgba(0, 0, 0, 0.12); }
    @media (min-width: 1200px) and (max-width: 1369px) {
      #currencies-block-top ul {
        font-size: 13px; } }
    @media (min-width: 1360px) {
      #currencies-block-top ul {
        width: 270px;
        padding: 34px 39px 30px; }
        #currencies-block-top ul li + li {
          margin-top: 10px; } }
    @media (max-width: 1199px) {
      #currencies-block-top ul {
        position: static;
        margin: 0;
        box-shadow: none; } }
    #currencies-block-top ul li.selected, #currencies-block-top ul li.selected a, #currencies-block-top ul li a:hover, #currencies-block-top ul li a:focus {
      color: #eb2972; }
