/*
* @section   Categories Page Styles
*/
.content_scene_cat {
  margin: 0 0 10px; }
  @media (min-width: 480px) {
    .content_scene_cat {
      margin-bottom: 38px; } }
  @media (min-width: 992px) {
    .content_scene_cat {
      margin-bottom: 50px; } }
  @media (min-width: 1200px) {
    .content_scene_cat {
      margin-bottom: 75px; } }
  .content_scene_cat .content_scene_cat_bg {
    position: relative;
    overflow: hidden;
    background-color: #d7e0e5;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    color: #222222;
    min-height: 0 !important;
    padding-top: 34px; }
    @media (min-width: 480px) {
      .content_scene_cat .content_scene_cat_bg {
        min-height: 230px !important;
        color: white;
        padding-top: 30px;
        padding-bottom: 30px; } }
    @media (min-width: 768px) {
      .content_scene_cat .content_scene_cat_bg {
        min-height: 370px !important; } }
    @media (min-width: 1200px) {
      .content_scene_cat .content_scene_cat_bg {
        min-height: 500px !important; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .content_scene_cat .content_scene_cat_bg {
        padding-left: 7%; } }
    @media (max-width: 479px) {
      .content_scene_cat .content_scene_cat_bg {
        background: none !important; } }
    .content_scene_cat .content_scene_cat_bg > div {
      width: 100%; }
    .content_scene_cat .content_scene_cat_bg .cat_desc {
      position: relative;
      max-width: 70%; }
      @media (min-width: 1200px) {
        .content_scene_cat .content_scene_cat_bg .cat_desc {
          max-width: 50%; } }
      @media (min-width: 1650px) {
        .content_scene_cat .content_scene_cat_bg .cat_desc {
          max-width: 40%; } }
      .content_scene_cat .content_scene_cat_bg .cat_desc p {
        line-height: 1.875; }
      @media (max-width: 1199px) {
        .content_scene_cat .content_scene_cat_bg .cat_desc .category-description {
          font-size: 14px; }
          .content_scene_cat .content_scene_cat_bg .cat_desc .category-description p {
            line-height: 1.5; } }
      @media (max-width: 479px) {
        .content_scene_cat .content_scene_cat_bg .cat_desc .category-description {
          display: none; } }
  .content_scene_cat span.category-name {
    font: 400 36px/1.2 "Playfair Display", serif;
    margin-bottom: 10px;
    display: inline-block; }
    @media (min-width: 1200px) {
      .content_scene_cat span.category-name {
        margin-bottom: 25px; } }
    @media (max-width: 479px) {
      .content_scene_cat span.category-name {
        font-size: 34px; } }
  .content_scene_cat p {
    margin-bottom: 0; }
  .content_scene_cat a.lnk_more {
    font-weight: bold; }
  .content_scene_cat a:hover {
    text-decoration: underline; }
  .content_scene_cat .content_scene {
    color: #949494; }
    .content_scene_cat .content_scene .cat_desc {
      padding-top: 20px; }
      .content_scene_cat .content_scene .cat_desc a {
        color: #949494; }
        .content_scene_cat .content_scene .cat_desc a:hover {
          color: #eb2972; }

/*
* @subsection   Sub Categories Styles
*/
#subcategories {
  margin-top: 10px;
  max-width: 60%;
  margin-bottom: 20px; }
  @media (min-width: 1200px) {
    #subcategories {
      max-width: 60%;
      margin-bottom: 0; } }
  @media (min-width: 1650px) {
    #subcategories {
      max-width: 50%; } }
  #subcategories ul {
    margin: 0; }
    #subcategories ul li {
      margin-top: 5px; }
      @media (min-width: 1200px) {
        #subcategories ul li {
          margin-top: 14px; } }
      #subcategories ul li a {
        display: inline-block;
        position: relative;
        color: inherit;
        text-decoration: none;
        padding-left: 25px; }
        #subcategories ul li a:before {
          position: absolute;
          left: 0;
          top: 0;
          font-family: "FontAwesome";
          content: "\f105";
          display: inline-block;
          font-weight: normal;
          color: #222222;
          -moz-transition: 0.3s all ease;
          -o-transition: 0.3s all ease;
          -webkit-transition: 0.3s all ease;
          transition: 0.3s all ease; }
          @media (min-width: 480px) {
            #subcategories ul li a:before {
              color: white; } }
        #subcategories ul li a:hover {
          color: #a1a1a1; }
          #subcategories ul li a:hover:before {
            left: 5px; }
        @media (max-width: 1199px) {
          #subcategories ul li a {
            font-size: 14px; } }
