.footer-container #footer {
  background: #efeae0; }
  .footer-container #footer .wrapper:nth-child(1), .footer-container #footer .wrapper:nth-child(2) {
    background: #fcf6eb; }
  @media (min-width: 768px) {
    .footer-container #footer .wrapper:first-child {
      padding-bottom: 42px; } }
  @media (min-width: 1200px) {
    .footer-container #footer .wrapper:first-child {
      padding-top: 105px; } }
  .footer-container #footer .wrapper:nth-child(2) {
    border-top: solid 1px #ebebeb;
    padding-top: 30px;
    padding-bottom: 30px; }
    @media (min-width: 768px) {
      .footer-container #footer .wrapper:nth-child(2) {
        padding-top: 55px;
        padding-bottom: 70px; } }
  .footer-container #footer .footer-bottom {
    padding-top: 35px;
    padding-bottom: 30px;
    text-align: left; }
    @media (min-width: 768px) {
      .footer-container #footer .footer-bottom {
        padding-top: 46px;
        padding-bottom: 48px; } }
