.homefeatured-heading {
  font: 400 36px/1.2 "Playfair Display", serif;
  color: #222222;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 35px; }
  @media (max-width: 479px) {
    .homefeatured-heading {
      font-size: 20px; } }
  @media (min-width: 480px) {
    .homefeatured-heading {
      margin-top: 50px;
      margin-bottom: 40px; } }
  @media (min-width: 1200px) {
    .homefeatured-heading {
      margin-top: 112px; } }

#homefeatured {
  margin-top: 0;
  margin-bottom: 0; }
  @media (min-width: 1650px) {
    #homefeatured > li {
      width: 16.66%;
      clear: none; }
      #homefeatured > li:nth-child(6n+1) {
        clear: left; } }
  @media (min-width: 480px) and (max-width: 991px) {
    #homefeatured > li {
      margin-bottom: 8px; } }
  @media (max-width: 479px) {
    #homefeatured > li {
      margin-bottom: 20px; }
      #homefeatured > li .comments_note {
        text-align: left; } }
  #homefeatured > li .price-percent-reduction {
    display: none; }
  @media (min-width: 1200px) {
    #homefeatured > li h5 {
      min-height: 49px; } }
  @media (min-width: 992px) and (max-width: 1649px) {
    #homefeatured {
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto; }
      #homefeatured > li {
        width: 33.33%;
        clear: none; }
        #homefeatured > li:nth-child(3n+1) {
          clear: left; } }

@media (max-width: 479px) {
  div:not(.bx-viewport) > #homefeatured > li {
    width: 100%; }
    div:not(.bx-viewport) > #homefeatured > li .product-container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      align-items: center;
      position: relative;
      overflow: hidden;
      *zoom: 1;
      padding-bottom: 55px; }
      div:not(.bx-viewport) > #homefeatured > li .product-container .left-block {
        float: left;
        width: 38%; }
        div:not(.bx-viewport) > #homefeatured > li .product-container .left-block .new-box, div:not(.bx-viewport) > #homefeatured > li .product-container .left-block .sale-box {
          display: none; }
      div:not(.bx-viewport) > #homefeatured > li .product-container .right-block {
        position: static;
        float: left;
        width: 62%;
        text-align: left;
        padding: 15px 0 15px 15px; }
        div:not(.bx-viewport) > #homefeatured > li .product-container .right-block a.product-name {
          font-size: 20px; }
        div:not(.bx-viewport) > #homefeatured > li .product-container .right-block .price-percent-reduction {
          display: none; }
        div:not(.bx-viewport) > #homefeatured > li .product-container .right-block .functional-buttons {
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          text-align: center; }
          div:not(.bx-viewport) > #homefeatured > li .product-container .right-block .functional-buttons > div a {
            color: #5e646c; }
            div:not(.bx-viewport) > #homefeatured > li .product-container .right-block .functional-buttons > div a:hover {
              color: #eb2972; }
          div:not(.bx-viewport) > #homefeatured > li .product-container .right-block .functional-buttons .ajax_add_to_cart_button {
            color: #eb2972; }
            div:not(.bx-viewport) > #homefeatured > li .product-container .right-block .functional-buttons .ajax_add_to_cart_button:hover {
              color: #222222; }
        div:not(.bx-viewport) > #homefeatured > li .product-container .right-block .price-percent-reduction {
          display: none; } }
