#tmhtmlcontent_topColumn {
  margin-top: 30px; }
  @media (min-width: 768px) {
    #tmhtmlcontent_topColumn {
      margin-top: 50px; } }
  @media (min-width: 1200px) {
    #tmhtmlcontent_topColumn {
      margin-top: 116px; } }
  #tmhtmlcontent_topColumn > ul {
    margin-top: 0;
    margin-bottom: 0; }
    @media (min-width: 480px) {
      #tmhtmlcontent_topColumn > ul {
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: center;
        justify-content: center; } }
    @media (min-width: 480px) and (max-width: 991px) {
      #tmhtmlcontent_topColumn > ul {
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap; } }
    #tmhtmlcontent_topColumn > ul > li {
      position: relative;
      padding-left: 15px;
      padding-right: 15px; }
      @media (max-width: 767px) {
        #tmhtmlcontent_topColumn > ul > li {
          margin-top: 20px;
          text-align: center; } }
      @media (min-width: 480px) and (max-width: 991px) {
        #tmhtmlcontent_topColumn > ul > li:first-child {
          order: 2;
          width: 50%; }
        #tmhtmlcontent_topColumn > ul > li:nth-child(2) {
          order: 1;
          width: 100%; }
        #tmhtmlcontent_topColumn > ul > li:nth-child(3) {
          order: 3;
          width: 50%; } }
      @media (min-width: 768px) and (max-width: 991px) {
        #tmhtmlcontent_topColumn > ul > li:nth-child(2) {
          margin-bottom: 30px; } }
      #tmhtmlcontent_topColumn > ul > li .item-link {
        display: block;
        overflow: hidden; }
        #tmhtmlcontent_topColumn > ul > li .item-link img {
          -moz-transform: scale(1, 1);
          -ms-transform: scale(1, 1);
          -o-transform: scale(1, 1);
          -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
          -moz-transition: 0.6s all ease;
          -o-transition: 0.6s all ease;
          -webkit-transition: 0.6s all ease;
          transition: 0.6s all ease;
          will-change: transform; }
        #tmhtmlcontent_topColumn > ul > li .item-link:hover img {
          -moz-transform: scale(1.05, 1.05);
          -ms-transform: scale(1.05, 1.05);
          -o-transform: scale(1.05, 1.05);
          -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05); }
      #tmhtmlcontent_topColumn > ul > li .item-html {
        padding: 20px 5px 5px 20px; }
        @media (min-width: 1370px) {
          #tmhtmlcontent_topColumn > ul > li .item-html {
            padding: 50px 10px 10px 45px; } }
        @media (min-width: 1650px), (min-width: 768px) and (max-width: 991px) {
          #tmhtmlcontent_topColumn > ul > li .item-html {
            padding: 60px 10px 10px 45px; } }
        #tmhtmlcontent_topColumn > ul > li .item-html h3 {
          font-size: 11px;
          line-height: 1.2;
          font-weight: 400;
          text-transform: uppercase;
          letter-spacing: 0.14em;
          margin: 0;
          color: #949494; }
        #tmhtmlcontent_topColumn > ul > li .item-html h2 {
          font-family: "Playfair Display", serif;
          font-size: 18px;
          line-height: 1.2;
          font-weight: 400;
          color: #222222;
          margin: 0;
          letter-spacing: -0.02em; }
          @media (min-width: 1200px) {
            #tmhtmlcontent_topColumn > ul > li .item-html h2 {
              font-size: 22px; } }
          @media (min-width: 1370px), (min-width: 768px) and (max-width: 991px) {
            #tmhtmlcontent_topColumn > ul > li .item-html h2 {
              font-size: 30px; } }
        #tmhtmlcontent_topColumn > ul > li .item-html * + h2 {
          margin-top: 9px; }
      #tmhtmlcontent_topColumn > ul > li img {
        width: 100%;
        height: auto; }
      #tmhtmlcontent_topColumn > ul > li img + .item-html {
        position: absolute;
        top: 0;
        left: 15px;
        right: 15px; }
      #tmhtmlcontent_topColumn > ul > li.center-block {
        margin-left: 0;
        margin-right: 0; }
        #tmhtmlcontent_topColumn > ul > li.center-block .item-html {
          text-align: center;
          left: 50%;
          right: auto;
          -moz-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          -o-transform: translateX(-50%);
          -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
          top: 0;
          padding: 20px;
          min-width: 250px; }
          @media (min-width: 1200px), (min-width: 768px) and (max-width: 991px) {
            #tmhtmlcontent_topColumn > ul > li.center-block .item-html {
              min-width: 350px;
              padding: 20px; }
              #tmhtmlcontent_topColumn > ul > li.center-block .item-html h2 {
                font-size: 24px; } }
          @media (min-width: 1370px) {
            #tmhtmlcontent_topColumn > ul > li.center-block .item-html {
              top: 60px;
              min-width: 500px;
              padding: 30px 20px; }
              #tmhtmlcontent_topColumn > ul > li.center-block .item-html h2 {
                font-size: 36px; } }
      #tmhtmlcontent_topColumn > ul > li.box-white .item-html {
        background: rgba(255, 255, 255, 0.7); }

#tmhtmlcontent_footer {
  margin-top: 7px;
  margin-bottom: 36px; }
  #tmhtmlcontent_footer .logo {
    display: inline-block; }

#tmhtmlcontent_home {
  margin-top: 20px; }
  @media (min-width: 768px) {
    #tmhtmlcontent_home {
      margin-top: 40px; } }
  @media (min-width: 1200px) {
    #tmhtmlcontent_home {
      margin-top: 65px; } }
  #tmhtmlcontent_home ul.tmhtmlcontent-home {
    clear: both;
    margin-left: auto;
    margin-right: auto; }
    #tmhtmlcontent_home ul.tmhtmlcontent-home > li {
      position: relative;
      margin-top: 20px; }
      #tmhtmlcontent_home ul.tmhtmlcontent-home > li:nth-child(odd) {
        float: left; }
      #tmhtmlcontent_home ul.tmhtmlcontent-home > li:nth-child(even) {
        float: right; }
      @media (min-width: 601px) {
        #tmhtmlcontent_home ul.tmhtmlcontent-home > li {
          margin-top: 0; }
          #tmhtmlcontent_home ul.tmhtmlcontent-home > li.small_banner, #tmhtmlcontent_home ul.tmhtmlcontent-home > li.small_banner2 {
            width: 32.46753246753247%; }
          #tmhtmlcontent_home ul.tmhtmlcontent-home > li.large_banner {
            width: 66.23376623376623%; }
          #tmhtmlcontent_home ul.tmhtmlcontent-home > li.small_banner2 {
            margin-top: 1.32%; } }
      @media (max-width: 600px) {
        #tmhtmlcontent_home ul.tmhtmlcontent-home > li {
          float: none;
          max-width: 570px;
          width: 100%;
          margin: 15px auto; } }
      #tmhtmlcontent_home ul.tmhtmlcontent-home > li .btn {
        font-size: 13px;
        line-height: 15px;
        letter-spacing: 0.14em;
        -moz-border-radius: 30px;
        -webkit-border-radius: 30px;
        border-radius: 30px;
        padding: 10px 15px; }
        #tmhtmlcontent_home ul.tmhtmlcontent-home > li .btn span {
          position: relative;
          padding-left: 15px; }
          #tmhtmlcontent_home ul.tmhtmlcontent-home > li .btn span:before {
            position: absolute;
            font-family: "FontAwesome";
            content: "\f105";
            display: inline-block;
            font-weight: normal;
            font-size: 13px;
            line-height: 13px;
            color: inherit;
            left: 0;
            top: 0; }
        @media (min-width: 1200px) {
          #tmhtmlcontent_home ul.tmhtmlcontent-home > li .btn {
            padding: 13px 32px; } }
      #tmhtmlcontent_home ul.tmhtmlcontent-home > li.small_banner .btn {
        color: #eb2972;
        border: 2px solid #eb2972; }
      #tmhtmlcontent_home ul.tmhtmlcontent-home > li.small_banner h4 {
        font: 400 10px/12px "Roboto", sans-serif;
        text-transform: uppercase;
        letter-spacing: 0.14em; }
      #tmhtmlcontent_home ul.tmhtmlcontent-home > li.large_banner .btn {
        color: #ff9600;
        border: 2px solid #ff9600; }
      #tmhtmlcontent_home ul.tmhtmlcontent-home > li.small_banner2 .btn {
        color: #50c9b7;
        border: 2px solid #50c9b7; }
      #tmhtmlcontent_home ul.tmhtmlcontent-home > li.small_banner2 h4 {
        font: 400 16px/18px "Roboto", sans-serif; }
      #tmhtmlcontent_home ul.tmhtmlcontent-home > li.small_banner .item-html, #tmhtmlcontent_home ul.tmhtmlcontent-home > li.small_banner2 .item-html {
        padding: 10px; }
        @media (min-width: 1650px) {
          #tmhtmlcontent_home ul.tmhtmlcontent-home > li.small_banner .item-html, #tmhtmlcontent_home ul.tmhtmlcontent-home > li.small_banner2 .item-html {
            padding: 10%; } }
        #tmhtmlcontent_home ul.tmhtmlcontent-home > li.small_banner .item-html h2, #tmhtmlcontent_home ul.tmhtmlcontent-home > li.small_banner2 .item-html h2 {
          font: 700 20px/1.2 "Raleway", sans-serif;
          color: #222222;
          margin-top: 15px; }
          @media (max-width: 767px) {
            #tmhtmlcontent_home ul.tmhtmlcontent-home > li.small_banner .item-html h2, #tmhtmlcontent_home ul.tmhtmlcontent-home > li.small_banner2 .item-html h2 {
              margin-top: 0; } }
        #tmhtmlcontent_home ul.tmhtmlcontent-home > li.small_banner .item-html h4, #tmhtmlcontent_home ul.tmhtmlcontent-home > li.small_banner2 .item-html h4 {
          color: #949494; }
          #tmhtmlcontent_home ul.tmhtmlcontent-home > li.small_banner .item-html h4 + .price, #tmhtmlcontent_home ul.tmhtmlcontent-home > li.small_banner2 .item-html h4 + .price {
            margin-top: 25px; }
      @media (max-width: 767px) {
        #tmhtmlcontent_home ul.tmhtmlcontent-home > li.small_banner * + .btn, #tmhtmlcontent_home ul.tmhtmlcontent-home > li.small_banner2 * + .btn {
          margin-top: 10px; } }
      #tmhtmlcontent_home ul.tmhtmlcontent-home > li * + .btn {
        margin-top: 20px; }
      #tmhtmlcontent_home ul.tmhtmlcontent-home > li .price {
        font-size: 30px;
        line-height: 30px;
        color: #eb2972; }
        #tmhtmlcontent_home ul.tmhtmlcontent-home > li .price sup {
          font: 400 16px/16px "Playfair Display", serif;
          letter-spacing: 0.12em; }
      #tmhtmlcontent_home ul.tmhtmlcontent-home > li p {
        font-size: 14px;
        line-height: 20px;
        color: #949494; }
        @media (min-width: 1200px) {
          #tmhtmlcontent_home ul.tmhtmlcontent-home > li p {
            font-size: 16px; } }
        @media (max-width: 991px) {
          #tmhtmlcontent_home ul.tmhtmlcontent-home > li p {
            display: none; } }
      #tmhtmlcontent_home ul.tmhtmlcontent-home > li.large_banner .item-html {
        padding: 10px 10px 10px 44%;
        text-align: right; }
        @media (min-width: 601px) {
          #tmhtmlcontent_home ul.tmhtmlcontent-home > li.large_banner .item-html {
            padding: 30px 30px 30px 44%; } }
        @media (min-width: 1600px) {
          #tmhtmlcontent_home ul.tmhtmlcontent-home > li.large_banner .item-html {
            padding: 24% 5% 0 44%;
            text-align: left; } }
      #tmhtmlcontent_home ul.tmhtmlcontent-home > li.large_banner h3 {
        font: 400 15px/1.2 "Roboto", sans-serif;
        font-size: 15px;
        color: #ff9600;
        margin-bottom: 0;
        text-transform: capitalize; }
        @media (max-width: 600px) {
          #tmhtmlcontent_home ul.tmhtmlcontent-home > li.large_banner h3 {
            margin-top: 10px; } }
        @media (min-width: 1200px) {
          #tmhtmlcontent_home ul.tmhtmlcontent-home > li.large_banner h3 {
            font-size: 30px; } }
      #tmhtmlcontent_home ul.tmhtmlcontent-home > li.large_banner h2 {
        font: 400 30px/1.2 "Playfair Display", serif;
        color: #222222;
        letter-spacing: -0.02em;
        margin-top: 0; }
        @media (min-width: 1200px) {
          #tmhtmlcontent_home ul.tmhtmlcontent-home > li.large_banner h2 {
            font-size: 60px;
            letter-spacing: -0.04em; } }
        @media (min-width: 1650px) {
          #tmhtmlcontent_home ul.tmhtmlcontent-home > li.large_banner h2 {
            font-size: 72px; } }
        #tmhtmlcontent_home ul.tmhtmlcontent-home > li.large_banner h2 + p {
          margin-top: 10px; }
      @media (min-width: 1200px) {
        #tmhtmlcontent_home ul.tmhtmlcontent-home > li.large_banner .btn {
          padding: 18px 66px; } }
      #tmhtmlcontent_home ul.tmhtmlcontent-home > li.large_banner * + .btn {
        margin-top: 35px; }
      #tmhtmlcontent_home ul.tmhtmlcontent-home > li .item-html {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0; }
      #tmhtmlcontent_home ul.tmhtmlcontent-home > li > a {
        position: relative;
        display: block;
        overflow: hidden; }
        #tmhtmlcontent_home ul.tmhtmlcontent-home > li > a img {
          max-width: 100%;
          width: 100%;
          height: auto;
          will-change: transform;
          backface-visibility: hidden;
          -moz-transition: all 0.6s ease-in-out;
          -o-transition: all 0.6s ease-in-out;
          -webkit-transition: all 0.6s ease-in-out;
          transition: all 0.6s ease-in-out; }
        @media (min-width: 1200px) {
          #tmhtmlcontent_home ul.tmhtmlcontent-home > li > a:hover img {
            -moz-transform: scale(1.05);
            -ms-transform: scale(1.05);
            -o-transform: scale(1.05);
            -webkit-transform: scale(1.05);
            transform: scale(1.05); } }

#tmhtmlcontent_footer .item-html p {
  color: #9f9b99;
  font-size: 14px;
  line-height: 22px; }
@media (min-width: 1200px) {
  #tmhtmlcontent_footer .item-html {
    padding-right: 10%; } }
