.star {
  display: block;
  position: relative;
  top: -1px;
  float: left;
  width: 15px;
  overflow: hidden;
  font-size: 14px;
  line-height: 14px;
  font-weight: normal; }
  .star a {
    display: block;
    position: absolute;
    text-indent: -5000px; }
  .star:after {
    font-family: "FontAwesome";
    content: "\f006";
    display: inline-block;
    font-weight: normal;
    color: #ff9600;
    font-size: 14px;
    line-height: 14px; }
  .star.star_on:after {
    content: '\f005'; }
  .star.star.star_hover {
    cursor: pointer; }
    .star.star.star_hover:after {
      font-family: "FontAwesome";
      content: "\f005";
      display: inline-block;
      font-weight: normal;
      color: red; }

#product_comments_block_extra {
  text-transform: uppercase;
  color: #222222;
  margin-top: 20px; }
  @media (min-width: 768px) and (max-width: 1199px) {
    #product_comments_block_extra {
      margin-top: 10px; } }
  #product_comments_block_extra .comments_note {
    display: inline-block;
    vertical-align: top;
    margin-right: 17px; }
    #product_comments_block_extra .comments_note span {
      display: inline-block;
      vertical-align: middle;
      margin-right: 9px;
      font-size: 11px;
      letter-spacing: 0.1em;
      color: #a1a1a1; }
    #product_comments_block_extra .comments_note .star_content {
      padding-top: 1px;
      display: inline-block;
      vertical-align: middle; }
      #product_comments_block_extra .comments_note .star_content .star + .star {
        margin-left: 3px; }
  #product_comments_block_extra .comments_advices {
    display: inline-block;
    vertical-align: middle;
    margin: 0; }

.comments_advices li {
  display: inline-block;
  line-height: 22px;
  vertical-align: top; }
.comments_advices a {
  font-size: 11px;
  letter-spacing: 0.1em;
  color: #eb2972;
  margin-right: 17px; }
  .comments_advices a:hover {
    color: #222222; }

/* pop-in add grade/advice ********************************************************************* */
#fancybox-wrap {
  width: 700px; }

#fancybox-content {
  width: 700px;
  border-width: 0; }

#new_comment_form {
  overflow: hidden;
  color: #949494;
  text-align: left;
  padding: 10px; }
  #new_comment_form h2 {
    margin-bottom: 10px;
    font: 400 36px/1.2 "Playfair Display", serif; }
  #new_comment_form .title {
    padding: 10px;
    font-size: 13px;
    color: white;
    text-transform: uppercase;
    background: #222222; }
  #new_comment_form .product_name strong {
    font-weight: normal;
    color: #eb2972; }
  #new_comment_form ul.grade_content {
    list-style-type: none;
    margin: 0 0 20px 0; }
    #new_comment_form ul.grade_content li {
      width: 50%; }
    #new_comment_form ul.grade_content span {
      display: inline-block;
      padding: 0 10px;
      width: 150px;
      font-weight: bold; }
    #new_comment_form ul.grade_content .cancel {
      margin-right: 5px; }
  #new_comment_form .product {
    padding: 15px 30px 15px 15px; }
    @media (max-width: 767px) {
      #new_comment_form .product {
        padding-right: 15px; } }
    #new_comment_form .product img {
      margin-bottom: 20px; }
  #new_comment_form .new_comment_form_content {
    background: #f6f8f9;
    padding: 14px 18px 13px;
    margin: 0 0 30px 0;
    font: normal 13px/23px "Playfair Display", serif;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    -moz-box-shadow: 0px 7px 21px 0px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 0px 7px 21px 0px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 7px 21px 0px rgba(0, 0, 0, 0.08);
    margin-left: -15px; }
    @media (max-width: 767px) {
      #new_comment_form .new_comment_form_content {
        padding-left: 35px;
        padding-right: 35px;
        margin-left: 0; } }
    #new_comment_form .new_comment_form_content .intro_form {
      padding-bottom: 10px;
      font-weight: bold;
      font-size: 12px; }
  #new_comment_form input,
  #new_comment_form textarea {
    width: 100%;
    background: white; }
  #new_comment_form textarea {
    height: 80px; }
  #new_comment_form input {
    margin-bottom: 10px; }
  #new_comment_form .submit {
    margin-top: 20px;
    padding: 0;
    font-size: 13px;
    text-align: right; }
  #new_comment_form #criterions_list {
    border-bottom: 1px solid #bdbdbd;
    padding-bottom: 15px;
    list-style-type: none; }
    #new_comment_form #criterions_list li {
      margin-bottom: 10px;
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      align-items: center;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap; }
    #new_comment_form #criterions_list label {
      margin: 0 10px 0 0; }
  #new_comment_form #new_comment_form_footer {
    margin-top: 20px;
    font-size: 12px; }

/* TAB COMMENTS ******************************************************************************** */
.page-product-box .container {
  max-width: 100%; }
  @media (max-width: 991px) {
    .page-product-box .container {
      padding: 0; } }

#product_comments_block_tab {
  margin: 5px 0 20px;
  padding-bottom: 20px; }
  @media (min-width: 768px) {
    #product_comments_block_tab {
      margin-top: 45px; } }
  #product_comments_block_tab .align_center {
    padding-top: 30px; }
  #product_comments_block_tab div.comment {
    margin: 0; }
    #product_comments_block_tab div.comment:first-child {
      padding: 0; }
    #product_comments_block_tab div.comment + .comment {
      margin-top: 50px; }
    #product_comments_block_tab div.comment .comment_author {
      padding: 5px 30px 0 0; }
      @media (min-width: 768px) {
        #product_comments_block_tab div.comment .comment_author {
          padding-top: 15px; } }
      #product_comments_block_tab div.comment .comment_author span {
        float: left;
        font-family: "Playfair Display", serif;
        font-weight: 300;
        font-size: 22px;
        color: #222222;
        display: block;
        margin-right: 13px; }
      #product_comments_block_tab div.comment .comment_author .star_content {
        display: inline-block;
        vertical-align: middle;
        margin: 3px 0 0; }
    #product_comments_block_tab div.comment .comment_details {
      padding: 17px 15px 17px 0;
      overflow: hidden;
      border-left: 1px solid #bdbdbd; }
      @media (min-width: 768px) {
        #product_comments_block_tab div.comment .comment_details {
          padding-left: 42px; } }
      @media (max-width: 767px) {
        #product_comments_block_tab div.comment .comment_details {
          border: none; } }
      #product_comments_block_tab div.comment .comment_details .title_block {
        font-family: "Playfair Display", serif;
        font-size: 22px;
        font-weight: 300;
        color: #222222;
        margin-top: 0;
        margin-bottom: 17px; }
        @media (min-width: 768px) {
          #product_comments_block_tab div.comment .comment_details .title_block {
            margin-bottom: 26px; } }
      #product_comments_block_tab div.comment .comment_details li {
        margin-bottom: 5px;
        float: left;
        clear: both; }
        @media (min-width: 768px) {
          #product_comments_block_tab div.comment .comment_details li {
            float: right;
            margin-bottom: 20px; } }
        #product_comments_block_tab div.comment .comment_details li:last-child {
          margin-bottom: 0; }
      #product_comments_block_tab div.comment .comment_details .useful-text {
        float: left;
        margin-top: 5px;
        margin-bottom: 15px; }
      #product_comments_block_tab div.comment .comment_details .useful-buttons {
        float: right; }
        @media (max-width: 767px) {
          #product_comments_block_tab div.comment .comment_details .useful-buttons {
            float: left;
            clear: left; } }
      #product_comments_block_tab div.comment .comment_details .btn {
        min-width: 55px;
        float: right;
        margin-left: 20px;
        margin-bottom: 10px;
        font-size: 11px; }
        #product_comments_block_tab div.comment .comment_details .btn:before, #product_comments_block_tab div.comment .comment_details .btn:after {
          display: none; }
        @media (max-width: 767px) {
          #product_comments_block_tab div.comment .comment_details .btn:last-child {
            margin-left: 0; } }
  #product_comments_block_tab .comment_author_infos {
    clear: both;
    padding-top: 4px; }
    @media (min-width: 768px) {
      #product_comments_block_tab .comment_author_infos {
        padding-top: 24px; } }
    #product_comments_block_tab .comment_author_infos strong {
      display: block;
      font-weight: normal;
      font-family: "Playfair Display", serif;
      font-size: 15px; }
    #product_comments_block_tab .comment_author_infos em {
      font-size: 13px;
      display: block;
      color: #a1a1a1; }
  #product_comments_block_tab a {
    text-decoration: none;
    font-weight: bold; }
  #product_comments_block_tab span.report_btn {
    cursor: pointer;
    color: #222222;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease; }
  #product_comments_block_tab span.report_btn:hover {
    color: #eb2972; }

.fl {
  float: left; }

.fr {
  float: right; }
