/*******************************************************
Product list Styles
********************************************************/
/*
* @section      Product list Styles
* @description  This section holds specific style redeclarations for some
*               of common elements in page listing
*/
ul.product_list .color-list-container {
  margin-top: 14px;
  margin-bottom: 3px; }
  ul.product_list .color-list-container ul {
    list-style-type: none;
    margin: 0;
    line-height: 1; }
    ul.product_list .color-list-container ul li {
      display: inline-block;
      vertical-align: top;
      margin: 0 0 0 2px;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      clear: none;
      width: auto;
      float: none;
      position: relative;
      outline: none; }
      ul.product_list .color-list-container ul li > a, ul.product_list .color-list-container ul li > input {
        display: block;
        height: 26px;
        width: 26px;
        cursor: pointer;
        margin: 0;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        position: relative;
        border: 2px solid white;
        -moz-transition: 0.3s all ease;
        -o-transition: 0.3s all ease;
        -webkit-transition: 0.3s all ease;
        transition: 0.3s all ease;
        outline: none; }
        ul.product_list .color-list-container ul li > a.on, ul.product_list .color-list-container ul li > input.on {
          -moz-box-shadow: 0 0 0 2px #eb2972;
          -webkit-box-shadow: 0 0 0 2px #eb2972;
          box-shadow: 0 0 0 2px #eb2972; }
          ul.product_list .color-list-container ul li > a.on + label span, ul.product_list .color-list-container ul li > a.on + input + label span, ul.product_list .color-list-container ul li > input.on + label span, ul.product_list .color-list-container ul li > input.on + input + label span {
            display: none; }
        ul.product_list .color-list-container ul li > a:hover, ul.product_list .color-list-container ul li > input:hover {
          -moz-box-shadow: 0 0 0 2px #eb2972;
          -webkit-box-shadow: 0 0 0 2px #eb2972;
          box-shadow: 0 0 0 2px #eb2972; }
      ul.product_list .color-list-container ul li label {
        position: absolute;
        left: 50%;
        top: 50%;
        text-align: center;
        cursor: pointer;
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
        ul.product_list .color-list-container ul li label a {
          line-height: 22px;
          display: block;
          -moz-border-radius: 0px;
          -webkit-border-radius: 0px;
          border-radius: 0px; }
          ul.product_list .color-list-container ul li label a span {
            display: none; }
        ul.product_list .color-list-container ul li label strong {
          display: none; }
      ul.product_list .color-list-container ul li.selected a {
        -moz-box-shadow: 0 0 0 2px #eb2972;
        -webkit-box-shadow: 0 0 0 2px #eb2972;
        box-shadow: 0 0 0 2px #eb2972; }
      ul.product_list .color-list-container ul li + li {
        margin-left: 10px; }
ul.product_list .product-image-container {
  text-align: center;
  position: relative; }
  ul.product_list .product-image-container img {
    margin: 0 auto; }
  @media (max-width: 479px) {
    ul.product_list .product-image-container .tmproductlistgallery-thumbnails {
      display: none !important; }
    ul.product_list .product-image-container .product_img_link {
      padding: 5px; } }
  @media (max-width: 479px) {
    ul.product_list .product-image-container .hook-reviews {
      display: none; } }
ul.product_list > .layered-preloader {
  position: absolute;
  left: 50%;
  top: 250px;
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  z-index: 99; }
  ul.product_list > .layered-preloader span {
    display: block;
    background: none;
    width: 146px;
    height: 146px;
    line-height: 146px;
    margin: 49px auto;
    position: relative;
    box-sizing: border-box;
    text-align: center;
    z-index: 0;
    text-transform: uppercase; }
    ul.product_list > .layered-preloader span:before, ul.product_list > .layered-preloader span:after {
      opacity: 0;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      content: "\0020";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 97px;
      border: 5px solid #eb2972;
      box-shadow: 0 0 49px #eb2972, inset 0 0 49px #eb2972;
      -o-box-shadow: 0 0 49px #eb2972, inset 0 0 49px #eb2972;
      -ms-box-shadow: 0 0 49px #eb2972, inset 0 0 49px #eb2972;
      -webkit-box-shadow: 0 0 49px #eb2972, inset 0 0 49px #eb2972;
      -moz-box-shadow: 0 0 49px #eb2972, inset 0 0 49px #eb2972; }
    ul.product_list > .layered-preloader span:after {
      z-index: 1;
      animation: cssload-gogoloader 1.3s infinite 0.7s;
      -o-animation: cssload-gogoloader 1.3s infinite 0.7s;
      -ms-animation: cssload-gogoloader 1.3s infinite 0.7s;
      -webkit-animation: cssload-gogoloader 1.3s infinite 0.7s;
      -moz-animation: cssload-gogoloader 1.3s infinite 0.7s; }
    ul.product_list > .layered-preloader span:before {
      z-index: 2;
      animation: cssload-gogoloader 1.3s infinite;
      -o-animation: cssload-gogoloader 1.3s infinite;
      -ms-animation: cssload-gogoloader 1.3s infinite;
      -webkit-animation: cssload-gogoloader 1.3s infinite;
      -moz-animation: cssload-gogoloader 1.3s infinite; }
ul.product_list .quick-view {
  display: inline-block;
  color: #949494;
  line-height: 1; }
  ul.product_list .quick-view:before {
    font-family: 'Material Icons';
    content: "\e8ff";
    display: inline-block;
    font-weight: normal;
    font-size: 25px;
    line-height: 27px; }
  ul.product_list .quick-view:hover {
    color: #222222; }
ul.product_list .comments_note {
  text-align: center;
  overflow: hidden; }
  ul.product_list .comments_note .nb-comments {
    overflow: hidden;
    font-style: italic;
    display: none; }
ul.product_list .functional-buttons > div {
  display: inline-block;
  line-height: 1;
  vertical-align: top; }
  ul.product_list .functional-buttons > div a {
    display: inline-block;
    color: #5e646c;
    cursor: pointer;
    line-height: 1; }
    ul.product_list .functional-buttons > div a:before {
      line-height: 27px; }
    ul.product_list .functional-buttons > div a:hover {
      color: #222222; }
  ul.product_list .functional-buttons > div.wishlist a span {
    display: none; }
  ul.product_list .functional-buttons > div.wishlist a:before {
    font-family: "fl-chapps";
    content: "\e00b";
    display: inline-block;
    font-weight: normal;
    font-size: 20px; }
  ul.product_list .functional-buttons > div.wishlist a.checked:before {
    font-family: 'Material Icons';
    content: "\e87d";
    display: inline-block;
    font-weight: normal;
    font-size: 25px; }
  ul.product_list .functional-buttons > div.compare a:before {
    font-family: 'Material Icons';
    content: "\e01d";
    display: inline-block;
    font-weight: normal;
    font-size: 27px; }
  ul.product_list .functional-buttons > div.compare a.checked:before {
    content: "\e876"; }
  @media (max-width: 767px) {
    ul.product_list .functional-buttons > div.qv-wrap {
      margin-left: -20px; }
      ul.product_list .functional-buttons > div.qv-wrap .quick-view {
        display: none; } }
@media (max-width: 767px) {
  ul.product_list .btn-sm, ul.product_list .btn-group-sm > .btn {
    font-size: 11px;
    line-height: 15px;
    padding: 5px 8px; } }

/*
* @section      Product list(Grid) Styles
*/
ul.product_list.grid > li {
  padding-bottom: 20px;
  text-align: center; }
  ul.product_list.grid > li .product-container {
    background: white;
    padding: 0; }
    ul.product_list.grid > li .product-container .left-block {
      padding-bottom: 0; }
    ul.product_list.grid > li .product-container .product-image-container {
      display: block;
      position: relative;
      background: #f4f4f4; }
      ul.product_list.grid > li .product-container .product-image-container .product_img_link {
        display: block; }
      @media (max-width: 479px) {
        ul.product_list.grid > li .product-container .product-image-container .tmproductlistgallery-thumbnails {
          display: none; }
        ul.product_list.grid > li .product-container .product-image-container .product_img_link {
          padding: 5px; } }
    ul.product_list.grid > li .product-container h5 {
      padding: 0;
      margin: 0; }
      ul.product_list.grid > li .product-container h5 a span.list-name {
        display: none; }
    ul.product_list.grid > li .product-container .comments_note {
      text-align: center; }
      ul.product_list.grid > li .product-container .comments_note .star_content {
        display: inline-block;
        margin: 0 0 0 0; }
    ul.product_list.grid > li .product-container .product-desc {
      display: none; }
    ul.product_list.grid > li .product-container .content_price {
      margin-top: 12px; }
    @media (max-width: 1199px) {
      ul.product_list.grid > li .product-container .color-list-container {
        display: none; } }
    ul.product_list.grid > li .product-container .old-price,
    ul.product_list.grid > li .product-container .price,
    ul.product_list.grid > li .product-container .price-percent-reduction {
      display: inline-block; }
    ul.product_list.grid > li .product-container .product-flags {
      display: none; }
    ul.product_list.grid > li .product-container .old-price {
      margin-right: 5px; }
      @media (max-width: 479px) {
        ul.product_list.grid > li .product-container .old-price {
          display: none; } }
    ul.product_list.grid > li .product-container .button-container {
      margin-bottom: 14px; }
      ul.product_list.grid > li .product-container .button-container .ajax_add_to_cart_button,
      ul.product_list.grid > li .product-container .button-container span.btn,
      ul.product_list.grid > li .product-container .button-container .lnk_view {
        margin: 0 6px 10px 0; }
    ul.product_list.grid > li .product-container .right-block {
      position: relative;
      padding: 15px 0 10px; }
      @media (min-width: 480px) {
        ul.product_list.grid > li .product-container .right-block {
          padding: 20px 15px 10px; } }
      @media (min-width: 992px) {
        ul.product_list.grid > li .product-container .right-block {
          padding: 24px 15px 45px; } }
      ul.product_list.grid > li .product-container .right-block .availability {
        display: none; }
    ul.product_list.grid > li .product-container .functional-buttons {
      margin-top: 10px; }
      @media (min-width: 992px) {
        ul.product_list.grid > li .product-container .functional-buttons {
          position: absolute;
          left: 0;
          right: 0;
          bottom: -30px;
          opacity: 0;
          visibility: hidden;
          -moz-transition: 0.4s all ease;
          -o-transition: 0.4s all ease;
          -webkit-transition: 0.4s all ease;
          transition: 0.4s all ease; } }
      ul.product_list.grid > li .product-container .functional-buttons > div + div {
        margin-left: 20px; }
        @media (min-width: 992px) {
          ul.product_list.grid > li .product-container .functional-buttons > div + div {
            margin-left: 30px; } }
      ul.product_list.grid > li .product-container .functional-buttons .ajax_add_to_cart_button, ul.product_list.grid > li .product-container .functional-buttons .customization {
        display: inline-block;
        margin: 0;
        padding: 0;
        background: none;
        color: #eb2972;
        line-height: 1;
        box-shadow: none;
        vertical-align: top; }
        ul.product_list.grid > li .product-container .functional-buttons .ajax_add_to_cart_button span, ul.product_list.grid > li .product-container .functional-buttons .customization span {
          display: none; }
        ul.product_list.grid > li .product-container .functional-buttons .ajax_add_to_cart_button:before, ul.product_list.grid > li .product-container .functional-buttons .customization:before {
          font-family: "fl-chapps";
          content: "\e00a";
          display: inline-block;
          font-weight: normal;
          font-size: 20px;
          line-height: 27px; }
        ul.product_list.grid > li .product-container .functional-buttons .ajax_add_to_cart_button:hover, ul.product_list.grid > li .product-container .functional-buttons .customization:hover {
          color: #222222; }
      ul.product_list.grid > li .product-container .functional-buttons .customization:before {
        content: '\e003'; }
    @media (max-width: 500px) {
      ul.product_list.grid > li .product-container .block.products_block.daydeal-box {
        display: none; } }
    @media (min-width: 992px) {
      ul.product_list.grid > li .product-container:hover .functional-buttons {
        bottom: 5px;
        opacity: 1;
        visibility: visible; } }
  @media (min-width: 992px) {
    ul.product_list.grid > li.first-in-line {
      clear: left; } }
  @media (min-width: 768px) and (max-width: 991px) {
    ul.product_list.grid > li.first-item-of-tablet-line {
      clear: left; } }
  @media (max-width: 767px) {
    ul.product_list.grid > li.first-item-of-mobile-line {
      clear: left; } }

@media (min-width: 1500px) {
  .two-columns ul.product_list.grid > li {
    width: 25%;
    clear: none; }
    .two-columns ul.product_list.grid > li:nth-child(4n + 1) {
      clear: left; } }

/*
* @section      Product list(List) Styles
*/
ul.product_list.list > li {
  margin-bottom: 50px; }
  ul.product_list.list > li .product-container {
    padding: 0; }
    ul.product_list.list > li .product-container > .row {
      display: -webkit-flex;
      display: flex; }
  ul.product_list.list > li .product-image-container {
    display: block;
    position: relative;
    background: #f4f4f4; }
    ul.product_list.list > li .product-image-container .product_img_link {
      display: block; }
    ul.product_list.list > li .product-image-container .content_price {
      display: none !important; }
    ul.product_list.list > li .product-image-container .quick-view {
      position: absolute;
      right: 12px;
      bottom: 7px; }
      @media (max-width: 767px) {
        ul.product_list.list > li .product-image-container .quick-view {
          display: none; } }
  ul.product_list.list > li .product-flags {
    color: #949494;
    margin: 5px 0 10px 0; }
    @media (min-width: 480px) {
      ul.product_list.list > li .product-flags {
        margin-top: -5px; } }
    ul.product_list.list > li .product-flags .discount {
      color: #db6460; }
  ul.product_list.list > li h5 {
    padding-bottom: 8px;
    margin-bottom: 0; }
    @media (min-width: 768px) {
      ul.product_list.list > li h5 {
        margin-bottom: 16px; } }
    ul.product_list.list > li h5 .product-name {
      font: 400 20px/1.2 "Playfair Display", serif;
      color: #222222; }
      ul.product_list.list > li h5 .product-name:hover {
        color: #eb2972; }
    ul.product_list.list > li h5 a span.grid-name {
      display: none; }
  @media (min-width: 1200px) {
    ul.product_list.list > li .hook-reviews {
      margin-bottom: 20px; } }
  ul.product_list.list > li .product-desc {
    margin-top: 20px;
    line-height: 1.5; }
    @media (min-width: 1200px) {
      ul.product_list.list > li .product-desc {
        margin-top: 33px;
        line-height: 1.875; } }
    @media (max-width: 991px) {
      ul.product_list.list > li .product-desc {
        display: none; } }
    ul.product_list.list > li .product-desc span.grid-desc {
      display: none; }
  ul.product_list.list > li .color-list-container {
    margin-top: 15px; }
    @media (min-width: 1370px) {
      ul.product_list.list > li .color-list-container {
        margin-top: 29px; } }
  @media (max-width: 767px) {
    ul.product_list.list > li .availability {
      display: none; } }
  ul.product_list.list > li .functional-buttons {
    margin-top: 22px; }
    @media (min-width: 1370px) {
      ul.product_list.list > li .functional-buttons {
        margin-top: 35px; } }
    @media (min-width: 480px) {
      ul.product_list.list > li .functional-buttons .cart-btn {
        float: left;
        margin-right: 25px; }
        ul.product_list.list > li .functional-buttons .cart-btn .btn {
          line-height: 22px;
          color: white; }
          ul.product_list.list > li .functional-buttons .cart-btn .btn:hover {
            color: #eb2972; }
          ul.product_list.list > li .functional-buttons .cart-btn .btn:active:focus, ul.product_list.list > li .functional-buttons .cart-btn .btn:active, ul.product_list.list > li .functional-buttons .cart-btn .btn:focus, .active > ul.product_list.list > li .functional-buttons .cart-btn .btn, ul.product_list.list > li .functional-buttons .cart-btn .btn.disabled, ul.product_list.list > li .functional-buttons .cart-btn .btn.btn[disabled], .disabled > ul.product_list.list > li .functional-buttons .cart-btn .btn {
            background: #ed4081;
            color: white; }
          ul.product_list.list > li .functional-buttons .cart-btn .btn:hover:active:focus, ul.product_list.list > li .functional-buttons .cart-btn .btn:hover:active, ul.product_list.list > li .functional-buttons .cart-btn .btn:hover:focus {
            color: white; }
      ul.product_list.list > li .functional-buttons .wishlist, ul.product_list.list > li .functional-buttons .compare {
        margin-top: 4px; }
      ul.product_list.list > li .functional-buttons .wishlist {
        margin-right: 15px; } }
      @media (min-width: 480px) and (min-width: 768px) {
        ul.product_list.list > li .functional-buttons .cart-btn {
          margin-right: 42px; } }
        @media (min-width: 480px) and (min-width: 1200px) {
          ul.product_list.list > li .functional-buttons .cart-btn .btn {
            min-width: 187px; } }
      @media (min-width: 480px) and (min-width: 768px) {
        ul.product_list.list > li .functional-buttons .wishlist, ul.product_list.list > li .functional-buttons .compare {
          margin-top: 12px; } }
      @media (min-width: 480px) and (min-width: 768px) {
        ul.product_list.list > li .functional-buttons .wishlist {
          margin-right: 30px; } }
  ul.product_list.list > li .center-block .comments_note {
    margin-bottom: 12px; }
    ul.product_list.list > li .center-block .comments_note .star_content {
      display: inline-block; }
  @media (min-width: 1370px) {
    ul.product_list.list > li .left-block {
      width: 34%; } }
  @media (min-width: 1650px) {
    ul.product_list.list > li .left-block {
      width: 25%; } }
  @media (min-width: 1370px) {
    ul.product_list.list > li .right-block {
      width: 66%; } }
  @media (min-width: 1650px) {
    ul.product_list.list > li .right-block {
      width: 75%; } }
  @media (min-width: 1700px) {
    ul.product_list.list > li .right-block {
      padding-left: 9.2%; } }
  ul.product_list.list > li .right-block .content_price {
    display: inline-block;
    vertical-align: top;
    margin-top: 6px;
    margin-right: 20px; }
    ul.product_list.list > li .right-block .content_price .price {
      font-size: 22px; }
  @media (max-width: 479px) {
    ul.product_list.list > li {
      padding-bottom: 47px; }
      ul.product_list.list > li .left-block {
        width: 42%; }
      ul.product_list.list > li .right-block {
        position: static;
        width: 50%;
        float: right;
        clear: right;
        margin-bottom: 10px; }
        ul.product_list.list > li .right-block .color-list-container, ul.product_list.list > li .right-block .product-flags {
          display: none; }
        ul.product_list.list > li .right-block .content_price {
          margin: 0; }
        ul.product_list.list > li .right-block .functional-buttons {
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          text-align: center; }
          ul.product_list.list > li .right-block .functional-buttons > div + div {
            margin-left: 40px; }
          ul.product_list.list > li .right-block .functional-buttons > div a {
            color: #5e646c; }
            ul.product_list.list > li .right-block .functional-buttons > div a:hover {
              color: #eb2972; }
          ul.product_list.list > li .right-block .functional-buttons .cart-btn {
            float: none; }
            ul.product_list.list > li .right-block .functional-buttons .cart-btn .btn {
              display: inline-block;
              margin: 0;
              padding: 0;
              background: none;
              color: #eb2972;
              line-height: 1;
              box-shadow: none;
              vertical-align: top; }
              ul.product_list.list > li .right-block .functional-buttons .cart-btn .btn span {
                display: none; }
              ul.product_list.list > li .right-block .functional-buttons .cart-btn .btn:hover {
                color: #222222; }
            ul.product_list.list > li .right-block .functional-buttons .cart-btn .ajax_add_to_cart_button:before {
              font-family: "fl-chapps";
              content: "\e00a";
              display: inline-block;
              font-weight: normal;
              font-size: 20px;
              line-height: 27px; }
            ul.product_list.list > li .right-block .functional-buttons .cart-btn .customization:before {
              font-family: "fl-chapps";
              content: "\e003";
              display: inline-block;
              font-weight: normal;
              font-size: 20px;
              line-height: 27px; }
        ul.product_list.list > li .right-block .price-percent-reduction {
          display: none; } }
  @media (min-width: 1200px) {
    ul.product_list.list > li:hover .product-image-container .quick-view {
      display: block; } }

@media (min-width: 768px) and (max-width: 1199px) {
  body.three-columns ul.product_list.list li {
    padding-bottom: 47px; }
    body.three-columns ul.product_list.list li .left-block {
      width: 42%; }
    body.three-columns ul.product_list.list li .right-block {
      position: static;
      width: 50%;
      float: right;
      clear: right;
      margin-bottom: 10px; }
      body.three-columns ul.product_list.list li .right-block .color-list-container, body.three-columns ul.product_list.list li .right-block .product-flags {
        display: none; }
      body.three-columns ul.product_list.list li .right-block .content_price {
        margin: 0; }
      body.three-columns ul.product_list.list li .right-block .functional-buttons {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center; }
        body.three-columns ul.product_list.list li .right-block .functional-buttons > div + div {
          margin-left: 40px; }
        body.three-columns ul.product_list.list li .right-block .functional-buttons > div a {
          color: #5e646c; }
          body.three-columns ul.product_list.list li .right-block .functional-buttons > div a:hover {
            color: #eb2972; }
        body.three-columns ul.product_list.list li .right-block .functional-buttons .cart-btn {
          float: none; }
          body.three-columns ul.product_list.list li .right-block .functional-buttons .cart-btn .btn {
            display: inline-block;
            margin: 0;
            padding: 0;
            background: none;
            color: #eb2972;
            line-height: 1;
            box-shadow: none;
            vertical-align: top; }
            body.three-columns ul.product_list.list li .right-block .functional-buttons .cart-btn .btn span {
              display: none; }
            body.three-columns ul.product_list.list li .right-block .functional-buttons .cart-btn .btn:hover {
              color: #222222; }
          body.three-columns ul.product_list.list li .right-block .functional-buttons .cart-btn .ajax_add_to_cart_button:before {
            font-family: "fl-chapps";
            content: "\e00a";
            display: inline-block;
            font-weight: normal;
            font-size: 20px;
            line-height: 27px; }
          body.three-columns ul.product_list.list li .right-block .functional-buttons .cart-btn .customization:before {
            font-family: "fl-chapps";
            content: "\e003";
            display: inline-block;
            font-weight: normal;
            font-size: 20px;
            line-height: 27px; }
      body.three-columns ul.product_list.list li .right-block .price-percent-reduction {
        display: none; } }

#category .content_price .product-price-new {
  font-size: 17px; }
