.blog-image {
  margin-bottom: 15px; }
  .blog-image a {
    display: block; }
    @media only screen and (max-width: 767px) {
      .blog-image a img {
        width: 100%; } }

#homepage-blog {
  margin-top: 50px;
  margin-bottom: 0; }
  #homepage-blog .link_btn {
    display: none; }
    #homepage-blog .link_btn a {
      font: 700 15px/20px "Raleway", sans-serif;
      letter-spacing: 0.14em;
      text-transform: uppercase;
      padding-left: 20px;
      color: #222222;
      position: relative; }
      #homepage-blog .link_btn a:after {
        position: absolute;
        font-family: "FontAwesome";
        content: "\f105";
        display: inline-block;
        font-weight: normal;
        font-size: 15px;
        line-height: 15px;
        top: 45%;
        left: 0;
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%); }
      #homepage-blog .link_btn a:hover {
        color: #eb2972; }
  @media (min-width: 1200px) {
    #homepage-blog {
      margin-top: 112px; } }
  #homepage-blog .title_block {
    margin-bottom: 17px;
    padding-right: 0; }
    #homepage-blog .title_block:after {
      display: none; }
    #homepage-blog .title_block a:hover {
      color: #eb2972; }
  #homepage-blog .blog-descr {
    text-align: center;
    color: #bbbbbb; }
  #homepage-blog .blog-image {
    display: none; }
  #homepage-blog .date-added {
    font-size: 10px;
    color: #eb2972;
    margin-bottom: 5px; }
    #homepage-blog .date-added .day-added {
      display: block;
      font-family: "Roboto", sans-serif;
      font-size: 55px;
      font-weight: 300;
      color: #eb2972;
      line-height: 1.02; }
    @media (min-width: 768px) {
      #homepage-blog .date-added {
        margin-bottom: 20px;
        padding-left: 3px; }
        #homepage-blog .date-added .day-added {
          margin-left: -3px; } }
    @media (min-width: 1200px) {
      #homepage-blog .date-added {
        margin-bottom: 33px; } }
  #homepage-blog .post-descr {
    margin-left: 3px; }
  #homepage-blog .link {
    color: #eb2972;
    margin-left: 3px;
    margin-top: 5px; }
    @media (min-width: 768px) {
      #homepage-blog .link {
        margin-top: 15px; } }
    @media (min-width: 1360px) {
      #homepage-blog .link {
        margin-top: 29px; } }
    #homepage-blog .link:hover {
      color: #222222; }
  #homepage-blog .block_content {
    margin-top: 10px; }
    @media (min-width: 768px) {
      #homepage-blog .block_content {
        margin-top: 30px; } }
    @media (min-width: 1200px) {
      #homepage-blog .block_content {
        margin-top: 68px; } }
    #homepage-blog .block_content h5 {
      position: relative;
      font: 700 20px/1.2 "Raleway", sans-serif;
      margin: 0 0 15px;
      padding-bottom: 7px; }
      @media (min-width: 768px) {
        #homepage-blog .block_content h5 {
          font-size: 16px;
          margin: 0 0 0 3px;
          padding-bottom: 10px; } }
      @media (min-width: 992px) {
        #homepage-blog .block_content h5 {
          font-size: 18px; } }
      @media (min-width: 1650px) {
        #homepage-blog .block_content h5 {
          font-size: 20px;
          line-height: 1.6; } }
      #homepage-blog .block_content h5 a {
        color: #222222; }
        #homepage-blog .block_content h5 a:hover {
          color: #eb2972; }
    @media (min-width: 768px) {
      #homepage-blog .block_content > ul {
        display: -webkit-flex;
        display: flex; } }
    #homepage-blog .block_content > ul > li {
      position: relative;
      padding-top: 20px;
      padding-bottom: 25px; }
      @media (max-width: 767px) {
        #homepage-blog .block_content > ul > li {
          text-align: center; } }
      @media (min-width: 768px) {
        #homepage-blog .block_content > ul > li:before {
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          border-right: 1px solid #f4f2ec; } }
      @media (min-width: 992px) {
        #homepage-blog .block_content > ul > li {
          padding-right: 5%; }
          #homepage-blog .block_content > ul > li:before {
            right: 7%; } }
      @media (min-width: 1200px) {
        #homepage-blog .block_content > ul > li {
          padding-top: 36px;
          padding-bottom: 42px; } }
      @media (min-width: 1650px) {
        #homepage-blog .block_content > ul > li {
          padding-right: 7%; }
          #homepage-blog .block_content > ul > li:before {
            right: 11.5%; } }
      #homepage-blog .block_content > ul > li:last-child:before {
        display: none; }
  @media (min-width: 992px) {
    #homepage-blog li.first-in-line {
      clear: left; } }
  @media (min-width: 768px) and (max-width: 991px) {
    #homepage-blog li.first-item-of-tablet-line {
      clear: left; } }
  @media only screen and (max-width: 767px) {
    #homepage-blog li.first-item-of-mobile-line {
      clear: left; } }
