.category-block ul.product_list.grid > li.first-in-line, .category-block ul.product_list.grid > li.first-item-of-mobile-line, .category-block ul.product_list.grid > li.first-item-of-tablet-line {
  clear: none !important; }

.category-block {
  margin-top: 30px;
  margin-bottom: 0;
  margin-left: auto !important;
  margin-right: auto !important; }
  @media (min-width: 480px) {
    .category-block {
      margin-top: 50px; } }
  @media (min-width: 1200px) {
    .category-block {
      margin-top: 90px; } }
  .category-block h4.title_block {
    position: relative;
    font: 400 36px/1.2 "Playfair Display", serif;
    color: #222222;
    text-align: center;
    padding-bottom: 12px;
    margin-bottom: 26px;
    padding-right: 0; }
    @media (min-width: 1200px) {
      .category-block h4.title_block {
        margin-bottom: 50px; } }
    .category-block h4.title_block:after {
      display: none !important; }
    @media (max-width: 767px) {
      .category-block h4.title_block {
        padding-right: 0;
        margin: 0 0 15px 0;
        font-size: 20px; } }
  .category-block ul.product_list.grid > li .product-container {
    background: none; }
    .category-block ul.product_list.grid > li .product-container .product-image-container {
      background: none; }
  .category-block ul.product_list.grid > li .functional-buttons div > a {
    color: #949494; }
    .category-block ul.product_list.grid > li .functional-buttons div > a.wishlist:before, .category-block ul.product_list.grid > li .functional-buttons div > a.compare:before {
      color: #949494; }
  .category-block .bx-wrapper {
    margin: 0 auto !important;
    overflow: hidden !important; }
  .category-block .bx-viewport > ul {
    margin: 0 auto !important; }
  @media (min-width: 992px) {
    .category-block .bx-viewport ul > li {
      padding-left: 15px;
      padding-right: 15px; } }
  @media (min-width: 1200px) {
    .category-block .bx-viewport ul > li {
      padding-left: 30px;
      padding-right: 30px; } }
  .category-block .bx-wrapper .bx-controls-direction a {
    height: auto;
    width: auto;
    color: #222222;
    text-align: center;
    top: 30%;
    -moz-transform: translateY(-30%);
    -ms-transform: translateY(-30%);
    -o-transform: translateY(-30%);
    -webkit-transform: translateY(-30%);
    transform: translateY(-30%); }
    .category-block .bx-wrapper .bx-controls-direction a:before {
      font-family: "FontAwesome";
      content: "\f105";
      display: inline-block;
      font-weight: normal;
      font-size: 37px;
      line-height: 37px;
      color: inherit; }
    .category-block .bx-wrapper .bx-controls-direction a.bx-prev {
      left: 0; }
      @media (max-width: 991px) {
        .category-block .bx-wrapper .bx-controls-direction a.bx-prev {
          left: 15px; } }
      .category-block .bx-wrapper .bx-controls-direction a.bx-prev:before {
        content: '\f104'; }
    .category-block .bx-wrapper .bx-controls-direction a.bx-next {
      right: 0; }
      @media (max-width: 991px) {
        .category-block .bx-wrapper .bx-controls-direction a.bx-next {
          right: 15px; } }
    .category-block .bx-wrapper .bx-controls-direction a.disabled {
      display: block !important;
      pointer-events: none;
      opacity: 0.5; }
    .category-block .bx-wrapper .bx-controls-direction a:hover {
      color: #eb2972; }

.dark-background .category-block h4.title_block {
  color: white; }
  .dark-background .category-block h4.title_block a {
    color: white; }
    .dark-background .category-block h4.title_block a:hover {
      color: #eb2972; }
.dark-background .category-block ul.product_list.grid > li .product-container .product-image-container {
  background: rgba(148, 148, 148, 0.1); }
.dark-background .category-block ul.product_list.grid > li .product-container a.product-name {
  color: white; }
  .dark-background .category-block ul.product_list.grid > li .product-container a.product-name:hover {
    color: #eb2972; }
.dark-background .category-block ul.product_list.grid > li .product-container .old-price {
  color: #949494; }
.dark-background .category-block ul.product_list.grid > li .product-container .functional-buttons div > a {
  color: white; }
  .dark-background .category-block ul.product_list.grid > li .product-container .functional-buttons div > a:hover {
    color: #eb2972; }
.dark-background .category-block ul.product_list.grid > li .product-container .product-image-container .tmproductlistgallery.slideshow .tmproductlistgallery-thumbnails .gallery-image-thumb img {
  background: rgba(189, 189, 189, 0.12); }
.dark-background .category-block ul.product_list.grid > li .product-container .product-image-container .tmproductlistgallery.slideshow .tmproductlistgallery-thumbnails .gallery-image-thumb.slick-current img {
  background: #222222; }
.dark-background .category-block ul.product_list.grid > li .product-container .daydeal-box div > span, .dark-background .category-block ul.product_list.grid > li .product-container .daydeal-box-product div > span {
  color: white; }
.dark-background .category-block .bx-wrapper .bx-controls-direction a {
  color: white; }
  .dark-background .category-block .bx-wrapper .bx-controls-direction a:hover {
    color: #eb2972; }
