#daydeal-products {
  margin-top: 30px;
  margin-bottom: 30px; }
  @media (min-width: 768px) {
    #daydeal-products {
      margin-top: 50px;
      margin-bottom: 50px; } }
  @media (min-width: 1200px) {
    #daydeal-products {
      margin-top: 70px;
      margin-bottom: 70px; } }
  #daydeal-products .title_block:after {
    display: none !important; }
  #daydeal-products ul.products > li {
    text-align: center; }
    #daydeal-products ul.products > li .product_img_link {
      padding: 7%;
      display: block; }
      #daydeal-products ul.products > li .product_img_link img {
        -moz-transition: 0.3s;
        -o-transition: 0.3s;
        -webkit-transition: 0.3s;
        transition: 0.3s; }
      #daydeal-products ul.products > li .product_img_link:hover {
        opacity: .85; }
    #daydeal-products ul.products > li .comments_note {
      display: inline-block; }
      #daydeal-products ul.products > li .comments_note > .nb-comments {
        display: none; }
    #daydeal-products ul.products > li h5 {
      margin-top: 0; }
    @media (max-width: 480px) {
      #daydeal-products ul.products > li {
        float: none;
        max-width: 370px;
        margin: 20px auto;
        width: 100%; } }

#daydeal-products .label-daydeal {
  position: absolute;
  right: 5px;
  top: 5px;
  display: inline-block;
  padding: 5px 12px;
  background: #FF0; }

.daydeal-box-product {
  padding: 10px 10px 0 20px; }

.daydeal-box-product.act {
  display: none; }

.daydeal-box-product > div > span > span,
.daydeal-box > div > span > span {
  display: inline-block;
  padding-right: 3px; }

.daydeal-box-product > div > span,
.daydeal-box > div > span {
  display: inline-block;
  padding-right: 7px; }

.daydeal-box {
  padding: 11px 0 11px;
  margin-bottom: 0;
  text-align: center; }
  .daydeal-box h3 {
    display: none; }
  .daydeal-box div > span {
    display: inline-block;
    position: relative;
    margin-left: 19px;
    color: #949494;
    font-size: 11px;
    line-height: 1.2; }
    .daydeal-box div > span:before {
      content: ':';
      display: block;
      position: absolute;
      left: -10px;
      top: 50%;
      -moz-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      -o-transform: translate(0, -50%);
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%); }
    .daydeal-box div > span:first-child {
      margin-left: 0; }
      .daydeal-box div > span:first-child:before {
        display: none; }
    .daydeal-box div > span span {
      display: block; }
  .daydeal-box + script + .price-percent-reduction {
    position: absolute;
    left: 50%;
    bottom: 100%;
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0); }

.lang_ru .daydeal-box div > span, .lang_fr .daydeal-box div > span, .lang_es .daydeal-box div > span {
  margin-left: 10px;
  font-size: 9px; }
  .lang_ru .daydeal-box div > span:before, .lang_fr .daydeal-box div > span:before, .lang_es .daydeal-box div > span:before {
    left: -3px; }
.lang_ru .daydeal-box + script + .price-percent-reduction, .lang_fr .daydeal-box + script + .price-percent-reduction, .lang_es .daydeal-box + script + .price-percent-reduction {
  position: absolute;
  left: 50%;
  bottom: 100%;
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0); }
