/*
* @package      Style for TM Header Account Block
* @description  This section holds specific style redeclarations for
*               TM Header Account Block
*/
#header-login {
  position: relative; }
  @media (min-width: 1200px) {
    #header-login {
      margin-right: 20px; } }
  @media (min-width: 1650px) {
    #header-login {
      margin-right: 35px; } }
  #header-login div.current a {
    position: relative;
    color: #949494;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.1em;
    line-height: 22px; }
    @media (min-width: 1200px) and (max-width: 1649px) {
      #header-login div.current a {
        font-size: 12px; } }
    #header-login div.current a:before {
      font-family: "FontAwesome";
      content: "\f007";
      display: inline-block;
      font-weight: normal;
      font-size: 18px;
      position: absolute;
      top: 50%;
      left: 0;
      margin-top: -12px;
      line-height: 22px;
      padding-top: 1px;
      -moz-transition: 0.3s all ease;
      -o-transition: 0.3s all ease;
      -webkit-transition: 0.3s all ease;
      transition: 0.3s all ease;
      color: #222222; }
    #header-login div.current a.login:before {
      font-family: "FontAwesome";
      content: "\f090";
      display: inline-block;
      font-weight: normal;
      font-size: 16px; }
    #header-login div.current a:hover {
      color: #222222; }
      #header-login div.current a:hover:before {
        color: #eb2972; }
  #header-login div.current.active a {
    color: #222222; }
    #header-login div.current.active a:before {
      color: #eb2972; }
  #header-login .header-login-content {
    display: none;
    text-align: left;
    width: 300px; }
    @media (min-width: 1200px) {
      #header-login .header-login-content {
        position: absolute;
        left: 0;
        top: 100%;
        margin-top: 23px;
        z-index: 2;
        -moz-box-shadow: 0px 15px 62px 0px rgba(0, 0, 0, 0.07);
        -webkit-box-shadow: 0px 15px 62px 0px rgba(0, 0, 0, 0.07);
        box-shadow: 0px 15px 62px 0px rgba(0, 0, 0, 0.07); } }
    #header-login .header-login-content #create_header_account_error {
      padding: 8px; }

.fancybox-inner .header-login-content {
  width: 290px;
  text-align: center;
  margin: 0;
  line-height: 1.2;
  padding: 30px; }
  @media (min-width: 670px) {
    .fancybox-inner .header-login-content > li.create-account-content {
      padding: 70px 95px; } }
  .fancybox-inner .header-login-content > li.create-account-content label {
    margin-top: 20px;
    margin-bottom: 15px; }
  .fancybox-inner .header-login-content > li.create-account-content .social-login-buttons {
    margin-top: 0;
    margin-bottom: 20px; }
  .fancybox-inner .header-login-content > li.create-account-content .radio-inline label {
    margin-top: 0; }
  @media (min-width: 480px) {
    .fancybox-inner .header-login-content {
      width: 410px;
      padding: 50px; } }
  @media (min-width: 670px) {
    .fancybox-inner .header-login-content {
      width: 570px;
      padding: 92px 120px 100px; } }
  .fancybox-inner .header-login-content.is-logged {
    text-align: left; }
    .fancybox-inner .header-login-content.is-logged li + li {
      margin-top: 10px; }

/*
* @section      Style for login wrapper
* @description  This section holds specific style redeclarations for
*               login content wrapper
*/
.header-login-content {
  padding: 40px;
  margin: 0;
  background: white; }
  .header-login-content .page-heading {
    margin-bottom: 16px; }
  .header-login-content li {
    margin: 0;
    padding: 0; }
    .header-login-content li.user-data {
      overflow: hidden; }
      .header-login-content li.user-data img {
        float: left;
        margin-bottom: 18px;
        margin-right: 20px; }
      .header-login-content li.user-data p span {
        display: block;
        white-space: nowrap; }
    .header-login-content li ul {
      margin: 0 0 16px; }
      .header-login-content li ul li {
        display: block;
        overflow: hidden; }
        .header-login-content li ul li a {
          color: #525252; }
          .header-login-content li ul li a:hover {
            color: #eb2972; }
          .header-login-content li ul li a i {
            display: none; }
    .header-login-content li.onecolumn {
      min-width: 220px; }
    .header-login-content li.twocolumns {
      margin-top: 0; }
      .header-login-content li.twocolumns > ul {
        width: 46%;
        float: left; }
        .header-login-content li.twocolumns > ul + ul {
          margin-left: 10px;
          float: right; }
    .header-login-content li input[type="checkbox"] + label:hover, .header-login-content li input[type="checkbox"] + .label label:hover, .header-login-content li input[type="radio"] + label:hover, .header-login-content li input[type="radio"] + .label label:hover {
      color: #eb2972; }
  .header-login-content img {
    max-width: 100%; }
  .header-login-content .form-group {
    margin-bottom: 8px; }
    .header-login-content .form-group label sup {
      color: #f13340; }
    .header-login-content .form-group input {
      background-position: 98% 12px; }
    .header-login-content .form-group .form_info {
      color: #f13340;
      font-size: 11px; }
    .header-login-content .form-group div.selector select.form-control {
      text-align: left; }
    .header-login-content .form-group .form-control {
      border-radius: 0;
      border: none;
      background: #f6f8f9;
      text-transform: uppercase;
      box-shadow: none;
      text-align: center;
      padding: 16px 30px 16px;
      font-size: 10px;
      height: auto;
      letter-spacing: 1.4px; }
  .header-login-content p {
    margin-bottom: 10px; }
    .header-login-content p.submit {
      padding-top: 12px;
      margin-bottom: 24px; }
    .header-login-content p.logout {
      margin: 0;
      clear: both; }
  .header-login-content .btn-md {
    width: 100%; }
  .header-login-content .create {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 700; }
  .header-login-content .forgot-password {
    display: inline-block;
    margin-top: 12px; }
  .header-login-content .create-account-content .row {
    margin: 0 -3px; }
    .header-login-content .create-account-content .row > div {
      padding: 0 3px; }
      .header-login-content .create-account-content .row > div .selector {
        width: 100% !important;
        padding-left: 13px; }
        .header-login-content .create-account-content .row > div .selector span {
          padding-right: 30px; }
  .header-login-content .create-account-content .social-login-buttons div {
    margin-bottom: 15px; }
    .header-login-content .create-account-content .social-login-buttons div.one-element .btn {
      margin-left: 0;
      font-size: 12px;
      line-height: 1.1; }
      .header-login-content .create-account-content .social-login-buttons div.one-element .btn span {
        margin: 0; }
      .header-login-content .create-account-content .social-login-buttons div.one-element .btn:before {
        display: none; }
  .header-login-content .forgot-password-content .signin i {
    margin-right: 5px; }

.myaccount-column .block_content .logout {
  margin-top: 5px; }

/*
* @section      Style for social account
*/
.social-login-buttons {
  margin: 35px -4px 0; }
  .social-login-buttons div {
    margin: 0;
    padding: 0 4px;
    float: left; }
    .social-login-buttons div.one-element {
      width: 100%; }
      .social-login-buttons div.one-element .btn span {
        margin-left: 10px; }
    .social-login-buttons div.two-elements {
      width: 50%; }
      .social-login-buttons div.two-elements .btn span {
        display: none; }
    .social-login-buttons div.three-elements {
      width: 33.33333%; }
      .social-login-buttons div.three-elements .btn span {
        display: none; }
    .social-login-buttons div .btn {
      width: 100%;
      color: #fff;
      padding: 8px 15px 6px;
      border-radius: 24px;
      line-height: 30px; }
      .social-login-buttons div .btn span {
        margin-left: 10px; }
      .social-login-buttons div .btn:before {
        display: inline-block;
        font: normal 21px/30px "FontAwesome"; }
      .social-login-buttons div .btn.btn-login-facebook {
        background-color: #3b5998;
        border: 2px solid #3b5998; }
        .social-login-buttons div .btn.btn-login-facebook:before {
          content: '\f09a'; }
        .social-login-buttons div .btn.btn-login-facebook:hover {
          background: none;
          color: #3b5998; }
      .social-login-buttons div .btn.btn-login-google {
        background-color: #df4a32;
        border: 2px solid #df4a32; }
        .social-login-buttons div .btn.btn-login-google:before {
          content: '\f0d5'; }
        .social-login-buttons div .btn.btn-login-google:hover {
          background: none;
          color: #df4a32; }
      .social-login-buttons div .btn.btn-login-vk {
        background-color: #3383c1;
        border: 2px solid #3383c1; }
        .social-login-buttons div .btn.btn-login-vk:before {
          content: '\f189'; }
        .social-login-buttons div .btn.btn-login-vk:hover {
          background: none;
          color: #3383c1; }

/*
* @section      Style for left and right sidebars
* @description  This section holds specific style redeclarations for
*               left and right sidebars
*/
.tmha-sidebar-left, .tmha-sidebar-right {
  background: #151515;
  height: 100%;
  position: fixed;
  transition: all 0.3s ease;
  top: 0;
  z-index: 99999;
  overflow: auto;
  max-height: 100%; }

.tmha-sidebar-left {
  left: 0;
  transform: translateX(-100%); }

.tmha-sidebar-right {
  right: 0;
  transform: translateX(100%); }
  .tmha-sidebar-right .tmha-close-btn {
    right: auto;
    left: 19px; }

.tmha-sidebar-left.active {
  left: 0;
  transform: translateX(0); }

.tmha-sidebar-right.active {
  right: 0;
  transform: translateX(0); }

.tmha-close-btn {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 2;
  text-align: center;
  line-height: 30px;
  background-image: none;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  top: 8px;
  right: 8px; }
  .tmha-close-btn:before {
    font-family: 'Material Icons';
    content: "\e5cd";
    display: inline-block;
    font-weight: normal;
    font-size: 16px; }
  .tmha-close-btn:hover {
    color: #eb2972; }
  @media (min-width: 670px) {
    .tmha-close-btn {
      top: 30px;
      right: 30px; } }

/*
* @section      Style for left and right columns
* @description  This section holds specific style redeclarations for
*               left and right columns
*/
#columns .header-login-content {
  padding: 20px; }
  #columns .header-login-content li.user-data p span {
    display: inline-block; }
  #columns .header-login-content li.user-data img {
    float: none; }
  #columns .header-login-content:not(.is-logged) li {
    width: 100%; }
#columns #center_column .social-login-buttons div {
  margin-bottom: 10px; }
  @media (min-width: 992px) {
    #columns #center_column .social-login-buttons div .btn span {
      display: inline-block;
      font-size: 12px; } }
  @media (min-width: 1200px) {
    #columns #center_column .social-login-buttons div .btn span {
      font-size: 13px; } }
