#columns {
  padding-bottom: 0; }

.tab-list {
  margin-top: 20px; }

#tmlookbooks .thumbnail {
  border: none;
  padding: 0;
  position: relative; }
  #tmlookbooks .thumbnail .caption {
    background: #222222;
    color: white;
    position: absolute;
    border-left: 0;
    left: 0;
    top: 0;
    padding: 5px 10px; }
    #tmlookbooks .thumbnail .caption .name {
      font: 400 16px/20px "Playfair Display", serif;
      letter-spacing: 0.05em;
      text-transform: capitalize;
      margin: 0; }
    @media (min-width: 480px) {
      #tmlookbooks .thumbnail .caption {
        padding: 10px; }
        #tmlookbooks .thumbnail .caption .name {
          font-size: 25px;
          line-height: 30px; } }
    @media (min-width: 768px) {
      #tmlookbooks .thumbnail .caption {
        padding: 20px 25px;
        letter-spacing: 0.075em; }
        #tmlookbooks .thumbnail .caption .name {
          font-size: 20px;
          line-height: 25px; } }
    @media (min-width: 1200px) {
      #tmlookbooks .thumbnail .caption {
        padding: 25px; }
        #tmlookbooks .thumbnail .caption .name {
          font-size: 35px;
          line-height: 40px; } }
    #tmlookbooks .thumbnail .caption .description {
      display: none; }
  #tmlookbooks .thumbnail + .thumbnail {
    margin-top: 50px; }

.hotSpotWrap {
  position: relative;
  width: 100%; }
  .hotSpotWrap > img {
    width: 100%; }
  .hotSpotWrap .point {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-top: -16px;
    margin-left: -16px;
    background: rgba(235, 41, 114, 0.5);
    cursor: pointer;
    z-index: 2; }
    .hotSpotWrap .point:after, .hotSpotWrap .point:before {
      display: block;
      content: '';
      position: absolute;
      border-radius: 50%; }
    .hotSpotWrap .point:after {
      font-family: 'Material Icons';
      content: "\e145";
      display: inline-block;
      font-weight: normal;
      font-size: 16px;
      color: white;
      line-height: 16px;
      left: 50%;
      top: 50%;
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      -moz-transition: 0.3s all ease;
      -o-transition: 0.3s all ease;
      -webkit-transition: 0.3s all ease;
      transition: 0.3s all ease; }
    .hotSpotWrap .point:before {
      background: #eb2972;
      -moz-box-shadow: 0 0 0 6px rgba(235, 41, 114, 0);
      -webkit-box-shadow: 0 0 0 6px rgba(235, 41, 114, 0);
      box-shadow: 0 0 0 6px rgba(235, 41, 114, 0);
      left: 6px;
      top: 6px;
      right: 6px;
      bottom: 6px;
      -moz-transition: 0.2s all ease;
      -o-transition: 0.2s all ease;
      -webkit-transition: 0.2s all ease;
      transition: 0.2s all ease;
      border-radius: 50%; }
    .hotSpotWrap .point:hover:before, .hotSpotWrap .point.active:before {
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      -moz-box-shadow: 0 0 0 6px rgba(235, 41, 114, 0.5);
      -webkit-box-shadow: 0 0 0 6px rgba(235, 41, 114, 0.5);
      box-shadow: 0 0 0 6px rgba(235, 41, 114, 0.5); }
    .hotSpotWrap .point.active {
      z-index: 4; }
      .hotSpotWrap .point.active:after {
        content: '\e14c';
        color: white; }
      .hotSpotWrap .point.active:hover:after {
        color: #222222; }
  .hotSpotWrap .popover {
    border-radius: 0;
    z-index: 3;
    max-width: 160px;
    min-width: 150px;
    transform-origin: top left;
    animation: 0.3s ease-in-out 0s normal none 1 scaleIn;
    -webkit-animation: 0.3s ease-in-out 0s normal none 1 scaleIn;
    -moz-box-shadow: 0px 1px 29px 0px rgba(0, 0, 0, 0.11);
    -webkit-box-shadow: 0px 1px 29px 0px rgba(0, 0, 0, 0.11);
    box-shadow: 0px 1px 29px 0px rgba(0, 0, 0, 0.11);
    padding: 0;
    border: none;
    background: #f6f8f9; }
    .hotSpotWrap .popover.right {
      margin-left: -16px;
      transform-origin: top left; }
    .hotSpotWrap .popover.left {
      margin-left: 176px;
      transform-origin: top right; }
      @media (min-width: 768px) {
        .hotSpotWrap .popover.left {
          margin-left: 373px; } }
    @media (min-width: 768px) {
      .hotSpotWrap .popover {
        min-width: 170px;
        max-width: 200px; }
        .hotSpotWrap .popover.left {
          margin-left: 216px; } }
    @media (min-width: 992px) {
      .hotSpotWrap .popover {
        max-width: 250px; }
        .hotSpotWrap .popover.left {
          margin-left: 266px; } }
    @media (min-width: 1200px) {
      .hotSpotWrap .popover {
        max-width: 357px; }
        .hotSpotWrap .popover.left {
          margin-left: 373px; } }
    .hotSpotWrap .popover .arrow {
      display: none; }
    .hotSpotWrap .popover .popover-content {
      padding: 10px;
      overflow: hidden; }
      @media (min-width: 768px) {
        .hotSpotWrap .popover .popover-content {
          padding: 20px 25px; } }
      @media (min-width: 768px) {
        .hotSpotWrap .popover .popover-content .product-container {
          display: -webkit-flex;
          display: flex;
          -webkit-align-items: center;
          align-items: center; } }
      .hotSpotWrap .popover .popover-content .product-container [itemprop="name"] {
        display: inline-block;
        margin-bottom: 5px;
        margin-top: 0; }
      .hotSpotWrap .popover .popover-content .product-container .content_price .price-percent-reduction {
        display: inline-block;
        position: absolute;
        top: 0;
        right: 0;
        font-family: "Playfair Display", serif;
        font-size: 13px;
        font-weight: 700;
        padding: 3px 8px 5px;
        color: white;
        background: #6cbf6d; }
      .hotSpotWrap .popover .popover-content .product-container .content_price .products_block.daydeal-box {
        display: none; }
      .hotSpotWrap .popover .popover-content .product-container .product-name {
        line-height: 23px; }
      .hotSpotWrap .popover .popover-content .product-container .functional-buttons {
        display: none; }
      .hotSpotWrap .popover .popover-content .product-container .left-block {
        padding: 8px;
        width: 100px;
        margin: 0 auto; }
        @media (min-width: 768px) {
          .hotSpotWrap .popover .popover-content .product-container .left-block {
            width: 38%; } }
        .hotSpotWrap .popover .popover-content .product-container .left-block .new-box, .hotSpotWrap .popover .popover-content .product-container .left-block .sale-box {
          display: none; }
        .hotSpotWrap .popover .popover-content .product-container .left-block .product_img_link {
          display: block;
          overflow: hidden; }
      .hotSpotWrap .popover .popover-content .product-container .right-block {
        padding: 0 12px; }
        @media (min-width: 768px) {
          .hotSpotWrap .popover .popover-content .product-container .right-block {
            width: 62%; } }
        .hotSpotWrap .popover .popover-content .product-container .right-block .product_link {
          display: inline-block;
          font-size: 14px;
          font-weight: 700;
          letter-spacing: 0.1em;
          text-transform: uppercase;
          color: #eb2972;
          margin-top: 15px; }
          .hotSpotWrap .popover .popover-content .product-container .right-block .product_link:hover {
            color: #222222; }

.tm-lookbook-block {
  clear: both; }
  .tm-lookbook-block ul.tm-lookbook-slider {
    margin: 0; }
    .tm-lookbook-block ul.tm-lookbook-slider > li {
      width: auto !important; }
      @media (min-width: 1200px) {
        .tm-lookbook-block ul.tm-lookbook-slider > li {
          margin-left: 0;
          margin-right: 0; }
          .tm-lookbook-block ul.tm-lookbook-slider > li .row {
            margin-left: 0;
            margin-right: 0; }
          .tm-lookbook-block ul.tm-lookbook-slider > li [class*='col-'] {
            padding-left: 0;
            padding-right: 0; }
          .tm-lookbook-block ul.tm-lookbook-slider > li > div:first-child {
            padding-right: 0.565%; }
          .tm-lookbook-block ul.tm-lookbook-slider > li > div:last-child {
            padding-left: 1.13%; }
            .tm-lookbook-block ul.tm-lookbook-slider > li > div:last-child .product_list > li {
              margin-top: 5.224%; }
              .tm-lookbook-block ul.tm-lookbook-slider > li > div:last-child .product_list > li:first-child, .tm-lookbook-block ul.tm-lookbook-slider > li > div:last-child .product_list > li:nth-child(2) {
                margin-top: 0; }
              .tm-lookbook-block ul.tm-lookbook-slider > li > div:last-child .product_list > li:nth-child(odd) {
                padding-right: 2.63%; }
              .tm-lookbook-block ul.tm-lookbook-slider > li > div:last-child .product_list > li:nth-child(even) {
                padding-left: 2.63%; } }
      .tm-lookbook-block ul.tm-lookbook-slider > li .caption {
        text-align: center; }
        @media (min-width: 480px) {
          .tm-lookbook-block ul.tm-lookbook-slider > li .caption {
            position: absolute;
            top: 50%;
            left: 50%;
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            max-width: 170px;
            z-index: 1;
            margin-right: 15px; } }
        @media (min-width: 768px) {
          .tm-lookbook-block ul.tm-lookbook-slider > li .caption {
            max-width: 300px; } }
        @media (min-width: 1360px) {
          .tm-lookbook-block ul.tm-lookbook-slider > li .caption {
            max-width: 420px; } }
        @media (min-width: 1650px) {
          .tm-lookbook-block ul.tm-lookbook-slider > li .caption {
            max-width: 1600px; } }
        .tm-lookbook-block ul.tm-lookbook-slider > li .caption h3 {
          font-family: "Raleway", sans-serif;
          font-size: 25px;
          line-height: 1.2;
          font-weight: bold;
          letter-spacing: 0.06em;
          text-transform: uppercase;
          text-shadow: 3px 1px 4px rgba(150, 150, 150, 0.92);
          color: white;
          margin: 0; }
          @media (min-width: 480px) {
            .tm-lookbook-block ul.tm-lookbook-slider > li .caption h3 {
              font-size: 22px; } }
          @media (min-width: 768px) {
            .tm-lookbook-block ul.tm-lookbook-slider > li .caption h3 {
              font-size: 38px; } }
          @media (min-width: 1650px) {
            .tm-lookbook-block ul.tm-lookbook-slider > li .caption h3 {
              font-size: 54px;
              letter-spacing: 31.32px; } }
      @media (max-width: 479px) {
        .tm-lookbook-block ul.tm-lookbook-slider > li .hotSpotWrap {
          min-height: 442px; }
          .tm-lookbook-block ul.tm-lookbook-slider > li .hotSpotWrap > img {
            position: absolute;
            top: 0;
            left: 0;
            -moz-transform: translate(-11%, 0);
            -ms-transform: translate(-11%, 0);
            -o-transform: translate(-11%, 0);
            -webkit-transform: translate(-11%, 0);
            transform: translate(-11%, 0);
            height: 100%;
            width: auto;
            max-width: none; } }
    .tm-lookbook-block ul.tm-lookbook-slider .product_list {
      overflow: hidden;
      *zoom: 1; }
      @media (max-width: 1199px) {
        .tm-lookbook-block ul.tm-lookbook-slider .product_list > li {
          margin-top: 30px; } }
      .tm-lookbook-block ul.tm-lookbook-slider .product_list .product-container {
        text-align: center;
        position: relative;
        overflow: hidden; }
        .tm-lookbook-block ul.tm-lookbook-slider .product_list .product-container .product_link {
          display: none; }
        .tm-lookbook-block ul.tm-lookbook-slider .product_list .product-container .product_img_link {
          display: block;
          position: relative;
          background: #f4f4f4; }
          .tm-lookbook-block ul.tm-lookbook-slider .product_list .product-container .product_img_link:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background: rgba(255, 255, 255, 0.75);
            opacity: 0;
            -moz-transition: 0.5s all ease;
            -o-transition: 0.5s all ease;
            -webkit-transition: 0.5s all ease;
            transition: 0.5s all ease; }
        .tm-lookbook-block ul.tm-lookbook-slider .product_list .product-container .top-content {
          position: absolute;
          left: 0;
          right: 0;
          top: -10px;
          opacity: 0;
          visibility: hidden;
          padding-left: 15px;
          padding-right: 15px;
          -moz-transition: 0.4s all ease;
          -o-transition: 0.4s all ease;
          -webkit-transition: 0.4s all ease;
          transition: 0.4s all ease; }
          @media (max-width: 479px) {
            .tm-lookbook-block ul.tm-lookbook-slider .product_list .product-container .top-content {
              display: none; } }
          .tm-lookbook-block ul.tm-lookbook-slider .product_list .product-container .top-content h5 {
            margin-top: 0;
            margin-bottom: 6px; }
        .tm-lookbook-block ul.tm-lookbook-slider .product_list .product-container .daydeal-box.products_block {
          display: none; }
        .tm-lookbook-block ul.tm-lookbook-slider .product_list .product-container .functional-buttons {
          position: absolute;
          left: 0;
          right: 0;
          bottom: -10px;
          opacity: 0;
          visibility: hidden;
          -moz-transition: 0.4s all ease;
          -o-transition: 0.4s all ease;
          -webkit-transition: 0.4s all ease;
          transition: 0.4s all ease; }
          .tm-lookbook-block ul.tm-lookbook-slider .product_list .product-container .functional-buttons > div a {
            color: #5e646c; }
            .tm-lookbook-block ul.tm-lookbook-slider .product_list .product-container .functional-buttons > div a:hover {
              color: #eb2972; }
          .tm-lookbook-block ul.tm-lookbook-slider .product_list .product-container .functional-buttons > div + div {
            margin-left: 18px; }
            @media (min-width: 1200px) and (max-width: 1359px) {
              .tm-lookbook-block ul.tm-lookbook-slider .product_list .product-container .functional-buttons > div + div {
                margin-left: 15px; } }
            @media (min-width: 1650px) {
              .tm-lookbook-block ul.tm-lookbook-slider .product_list .product-container .functional-buttons > div + div {
                margin-left: 30px; } }
          .tm-lookbook-block ul.tm-lookbook-slider .product_list .product-container .functional-buttons .ajax_add_to_cart_button {
            display: inline-block;
            margin: 0;
            padding: 0;
            background: none;
            color: #eb2972;
            line-height: 1;
            box-shadow: none;
            vertical-align: top; }
            .tm-lookbook-block ul.tm-lookbook-slider .product_list .product-container .functional-buttons .ajax_add_to_cart_button span {
              display: none; }
            .tm-lookbook-block ul.tm-lookbook-slider .product_list .product-container .functional-buttons .ajax_add_to_cart_button:before {
              font-family: "fl-chapps";
              content: "\e00a";
              display: inline-block;
              font-weight: normal;
              font-size: 20px;
              line-height: 27px; }
            .tm-lookbook-block ul.tm-lookbook-slider .product_list .product-container .functional-buttons .ajax_add_to_cart_button:hover {
              color: #222222; }
        @media (min-width: 480px) {
          .tm-lookbook-block ul.tm-lookbook-slider .product_list .product-container:hover .product_img_link:before {
            opacity: 1; }
          .tm-lookbook-block ul.tm-lookbook-slider .product_list .product-container:hover .functional-buttons {
            bottom: 15px;
            opacity: 1;
            visibility: visible; }
          .tm-lookbook-block ul.tm-lookbook-slider .product_list .product-container:hover .top-content {
            top: 15px;
            opacity: 1;
            visibility: visible; } }
          @media (min-width: 480px) and (min-width: 1650px) {
            .tm-lookbook-block ul.tm-lookbook-slider .product_list .product-container:hover .top-content {
              top: 33px; } }
  .tm-lookbook-block ul.tm-lookbook-slider-top {
    margin: 0; }
    .tm-lookbook-block ul.tm-lookbook-slider-top > li {
      width: auto !important; }
      @media (min-width: 1200px) {
        .tm-lookbook-block ul.tm-lookbook-slider-top > li {
          margin-left: 0;
          margin-right: 0; }
          .tm-lookbook-block ul.tm-lookbook-slider-top > li .row {
            margin-left: 0;
            margin-right: 0; }
          .tm-lookbook-block ul.tm-lookbook-slider-top > li [class*='col-'] {
            padding-left: 0;
            padding-right: 0; }
          .tm-lookbook-block ul.tm-lookbook-slider-top > li > div:first-child {
            padding-right: 0.565%; }
          .tm-lookbook-block ul.tm-lookbook-slider-top > li > div:last-child {
            padding-left: 1.13%; }
            .tm-lookbook-block ul.tm-lookbook-slider-top > li > div:last-child .product_list > li {
              margin-top: 5.224%; }
              .tm-lookbook-block ul.tm-lookbook-slider-top > li > div:last-child .product_list > li:first-child, .tm-lookbook-block ul.tm-lookbook-slider-top > li > div:last-child .product_list > li:nth-child(2) {
                margin-top: 0; }
              .tm-lookbook-block ul.tm-lookbook-slider-top > li > div:last-child .product_list > li:nth-child(odd) {
                padding-right: 2.63%; }
              .tm-lookbook-block ul.tm-lookbook-slider-top > li > div:last-child .product_list > li:nth-child(even) {
                padding-left: 2.63%; } }
      .tm-lookbook-block ul.tm-lookbook-slider-top > li .descr {
        display: none; }
      .tm-lookbook-block ul.tm-lookbook-slider-top > li .hotSpotWrap {
        position: relative; }
        .tm-lookbook-block ul.tm-lookbook-slider-top > li .hotSpotWrap .caption {
          position: absolute;
          left: 0;
          bottom: 0;
          text-align: center; }
          .tm-lookbook-block ul.tm-lookbook-slider-top > li .hotSpotWrap .caption p {
            padding: 5px 10px;
            background: #fdf2f7;
            color: #eb2972;
            font-size: 9px;
            line-height: 1;
            text-transform: uppercase;
            letter-spacing: 0.02em;
            font-family: "Raleway", sans-serif;
            margin: 0; }
            @media (min-width: 768px) {
              .tm-lookbook-block ul.tm-lookbook-slider-top > li .hotSpotWrap .caption p {
                font-size: 12px;
                letter-spacing: 0.18em;
                padding: 15px 20px; } }
            @media (min-width: 1200px) {
              .tm-lookbook-block ul.tm-lookbook-slider-top > li .hotSpotWrap .caption p {
                padding: 28px 34px; } }
          @media (max-width: 767px) {
            .tm-lookbook-block ul.tm-lookbook-slider-top > li .hotSpotWrap .caption {
              display: none; } }
  @media (min-width: 480px) {
    .tm-lookbook-block .bx-wrapper .bx-viewport {
      overflow: visible !important; } }
  .tm-lookbook-block .bx-wrapper .slide-controls {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    line-height: 0;
    z-index: 2; }
    .tm-lookbook-block .bx-wrapper .slide-controls > span {
      background: white; }
      .tm-lookbook-block .bx-wrapper .slide-controls > span.prev {
        display: block;
        float: left; }
      .tm-lookbook-block .bx-wrapper .slide-controls > span.next {
        display: block;
        float: right; }
    .tm-lookbook-block .bx-wrapper .slide-controls a {
      position: relative;
      display: inline-block;
      top: 0;
      left: 0;
      right: 0;
      height: 40px;
      width: 40px;
      outline: 0;
      margin: 0;
      text-align: center;
      z-index: 999; }
      @media (min-width: 768px) {
        .tm-lookbook-block .bx-wrapper .slide-controls a {
          height: 70px;
          width: 70px; } }
      .tm-lookbook-block .bx-wrapper .slide-controls a:before {
        font-family: "FontAwesome";
        content: "\f104";
        display: inline-block;
        font-weight: normal;
        font-size: 25px;
        line-height: 40px;
        color: #c4bbb2;
        -moz-transition: 0.3s all ease;
        -o-transition: 0.3s all ease;
        -webkit-transition: 0.3s all ease;
        transition: 0.3s all ease; }
        @media (min-width: 768px) {
          .tm-lookbook-block .bx-wrapper .slide-controls a:before {
            line-height: 70px; } }
      .tm-lookbook-block .bx-wrapper .slide-controls a.bx-next:before {
        font-family: "FontAwesome";
        content: "\f105";
        display: inline-block;
        font-weight: normal; }
      .tm-lookbook-block .bx-wrapper .slide-controls a.bx-next:after {
        position: absolute;
        content: '';
        top: 23px;
        bottom: 23px;
        left: 0;
        border-left: 1px solid #ebebeb;
        -moz-transition: 0.3s all ease;
        -o-transition: 0.3s all ease;
        -webkit-transition: 0.3s all ease;
        transition: 0.3s all ease; }
        @media (min-width: 1200px) {
          .tm-lookbook-block .bx-wrapper .slide-controls a.bx-next:after {
            top: 32px;
            bottom: 32px; } }
      .tm-lookbook-block .bx-wrapper .slide-controls a:hover {
        background: #f6f8f9; }
        .tm-lookbook-block .bx-wrapper .slide-controls a:hover:before {
          color: #eb2972; }
    .tm-lookbook-block .bx-wrapper .slide-controls:hover a.bx-next:after {
      top: 0;
      bottom: 0; }
  .tm-lookbook-block .product_list {
    clear: both;
    margin-top: 30px; }
    @media (max-width: 767px) {
      .tm-lookbook-block .product_list > li:nth-child(2n+3) {
        clear: left; } }
    @media (min-width: 480px) and (max-width: 1199px) {
      .tm-lookbook-block .product_list > li {
        margin-top: 25px; } }
    @media (max-width: 479px) {
      .tm-lookbook-block .product_list > li {
        border: 1px solid #f6f8f9; } }
    .tm-lookbook-block .product_list .product-container {
      position: relative;
      text-align: center; }
      @media (min-width: 768px) {
        .tm-lookbook-block .product_list .product-container {
          padding-bottom: 40px; } }
      @media (min-width: 1200px) {
        .tm-lookbook-block .product_list .product-container {
          text-align: left; } }
      @media (min-width: 1370px) {
        .tm-lookbook-block .product_list .product-container .left-block {
          width: 30%; } }
      .tm-lookbook-block .product_list .product-container .product_link {
        display: none; }
      .tm-lookbook-block .product_list .product-container .product_img_link {
        display: block;
        position: relative;
        background: transparent;
        padding: 10px; }
        @media (min-width: 768px) {
          .tm-lookbook-block .product_list .product-container .product_img_link {
            box-shadow: none;
            padding: 0; } }
        .tm-lookbook-block .product_list .product-container .product_img_link:before {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          bottom: 0;
          background: rgba(255, 255, 255, 0.75);
          opacity: 0;
          -moz-transition: 0.5s all ease;
          -o-transition: 0.5s all ease;
          -webkit-transition: 0.5s all ease;
          transition: 0.5s all ease; }
      .tm-lookbook-block .product_list .product-container .daydeal-box.products_block {
        display: none; }
      .tm-lookbook-block .product_list .product-container .top-content {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 15px;
        -moz-transition: 0.4s all ease;
        -o-transition: 0.4s all ease;
        -webkit-transition: 0.4s all ease;
        transition: 0.4s all ease; }
        @media (max-width: 479px) {
          .tm-lookbook-block .product_list .product-container .top-content {
            display: none; } }
        .tm-lookbook-block .product_list .product-container .top-content h5 {
          margin-top: 0;
          margin-bottom: 6px; }
      .tm-lookbook-block .product_list .product-container .functional-buttons {
        position: absolute;
        width: 100%;
        left: 50%;
        bottom: 0;
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        text-align: center;
        -moz-transition: 0.4s all ease;
        -o-transition: 0.4s all ease;
        -webkit-transition: 0.4s all ease;
        transition: 0.4s all ease; }
        @media (min-width: 768px) {
          .tm-lookbook-block .product_list .product-container .functional-buttons {
            opacity: 0;
            visibility: hidden;
            bottom: -10px; } }
        @media (max-width: 479px) {
          .tm-lookbook-block .product_list .product-container .functional-buttons {
            display: none; } }
        .tm-lookbook-block .product_list .product-container .functional-buttons > div a {
          color: #949494; }
          .tm-lookbook-block .product_list .product-container .functional-buttons > div a:hover {
            color: #eb2972; }
        .tm-lookbook-block .product_list .product-container .functional-buttons > div + div {
          margin-left: 18px; }
          @media (min-width: 1200px) and (max-width: 1359px) {
            .tm-lookbook-block .product_list .product-container .functional-buttons > div + div {
              margin-left: 15px; } }
          @media (min-width: 1650px) {
            .tm-lookbook-block .product_list .product-container .functional-buttons > div + div {
              margin-left: 30px; } }
        .tm-lookbook-block .product_list .product-container .functional-buttons .ajax_add_to_cart_button {
          display: inline-block;
          margin: 0;
          padding: 0;
          background: none;
          color: #eb2972;
          line-height: 1;
          box-shadow: none;
          vertical-align: top; }
          .tm-lookbook-block .product_list .product-container .functional-buttons .ajax_add_to_cart_button span {
            display: none; }
          .tm-lookbook-block .product_list .product-container .functional-buttons .ajax_add_to_cart_button:before {
            font-family: "fl-chapps";
            content: "\e00a";
            display: inline-block;
            font-weight: normal;
            font-size: 20px;
            line-height: 27px; }
          .tm-lookbook-block .product_list .product-container .functional-buttons .ajax_add_to_cart_button:hover {
            color: #222222; }
        @media (max-width: 767px) {
          .tm-lookbook-block .product_list .product-container .functional-buttons {
            position: static;
            left: auto;
            bottom: auto;
            -moz-transform: none;
            -ms-transform: none;
            -o-transform: none;
            -webkit-transform: none;
            transform: none;
            margin-top: 20px; } }
      @media (min-width: 768px) {
        .tm-lookbook-block .product_list .product-container:hover .product_img_link:before {
          opacity: 1; }
        .tm-lookbook-block .product_list .product-container:hover .functional-buttons {
          opacity: 1;
          visibility: visible;
          bottom: 0; }
        .tm-lookbook-block .product_list .product-container:hover .top-content {
          top: 15px;
          opacity: 1;
          visibility: visible; } }

#index .tm-lookbook-block {
  margin-top: 0;
  margin-bottom: 25px; }
  @media (min-width: 768px) {
    #index .tm-lookbook-block {
      margin-bottom: 45px; } }

.tab-list {
  margin-bottom: 20px; }
  .tab-list > * {
    width: 25%;
    display: block;
    float: left;
    padding: 3px; }
    .tab-list > * a {
      display: block;
      max-height: 144px;
      overflow: hidden; }
      .tab-list > * a.active {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
        border: 6px solid #fff;
        display: block; }

.lookbook-default .tab-list {
  margin-top: 0;
  margin-bottom: 40px; }
  .lookbook-default .tab-list > * {
    width: 20%;
    display: block;
    float: left;
    padding: 0 3px; }
    .lookbook-default .tab-list > * a {
      display: block;
      max-height: 180px;
      overflow: hidden; }
      .lookbook-default .tab-list > * a.active {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
        border: 6px solid #fff;
        display: block; }

.product-lookbooks ul {
  display: inline-block; }
  .product-lookbooks ul li {
    margin-left: 0px;
    display: inline-block; }
    .product-lookbooks ul li a {
      color: #333;
      display: inline-block;
      font-weight: 300;
      line-height: 18px;
      text-transform: capitalize; }
      .product-lookbooks ul li a:hover {
        text-decoration: underline; }

@-webkit-keyframes scaleIn {
  from {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0); }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
@keyframes scaleIn {
  from {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0); }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
