/**************************************************************************
		        Style TM Manufacturer Block
**************************************************************************/
#tm_manufacturers_block {
  margin-top: 50px; }
  @media (min-width: 1200px) {
    #tm_manufacturers_block {
      margin-top: 112px; } }
  #tm_manufacturers_block h4 {
    font: 400 36px/1.2 "Playfair Display", serif;
    color: #222222;
    text-align: center;
    margin: 0 0 34px; }
  #tm_manufacturers_block .manufacturers_items .manufacturer_item a img {
    opacity: 0.2;
    -moz-transition: 0.4s all ease;
    -o-transition: 0.4s all ease;
    -webkit-transition: 0.4s all ease;
    transition: 0.4s all ease;
    will-change: opacity; }
  #tm_manufacturers_block .manufacturers_items .manufacturer_item a:hover img {
    opacity: 1; }
  #tm_manufacturers_block .bx-wrapper {
    overflow: hidden;
    margin: 0 auto !important; }
    #tm_manufacturers_block .bx-wrapper .manufacturers_items {
      margin: 0; }
      #tm_manufacturers_block .bx-wrapper .manufacturers_items li.caroucel_item {
        width: 25%; }
    #tm_manufacturers_block .bx-wrapper .bx-controls .bx-pager .bx-pager-link.active, #tm_manufacturers_block .bx-wrapper .bx-controls .bx-pager .bx-pager-link:hover {
      background: #777; }
    #tm_manufacturers_block .bx-wrapper .bx-controls .bx-controls-direction a {
      height: 30px;
      width: 30px;
      color: #aab2b5;
      text-align: center; }
      #tm_manufacturers_block .bx-wrapper .bx-controls .bx-controls-direction a:before {
        font-family: "FontAwesome";
        content: "\f105";
        display: inline-block;
        font-weight: normal;
        font-size: 25px;
        line-height: 30px;
        color: inherit; }
      #tm_manufacturers_block .bx-wrapper .bx-controls .bx-controls-direction a.bx-prev {
        left: 0; }
        @media (min-width: 992px) {
          #tm_manufacturers_block .bx-wrapper .bx-controls .bx-controls-direction a.bx-prev {
            left: 30px; } }
        #tm_manufacturers_block .bx-wrapper .bx-controls .bx-controls-direction a.bx-prev:before {
          content: '\f104'; }
      #tm_manufacturers_block .bx-wrapper .bx-controls .bx-controls-direction a.bx-next {
        right: 0; }
        @media (min-width: 992px) {
          #tm_manufacturers_block .bx-wrapper .bx-controls .bx-controls-direction a.bx-next {
            right: 30px; } }
      #tm_manufacturers_block .bx-wrapper .bx-controls .bx-controls-direction a:hover {
        color: #eb2972; }
      #tm_manufacturers_block .bx-wrapper .bx-controls .bx-controls-direction a.disabled {
        display: inline-block;
        color: #e1e3e4;
        cursor: default; }
