.row.full-width {
  margin-left: auto;
  margin-right: auto; }

.container.col-lg-12 {
  float: none;
  padding-left: 15px;
  padding-right: 15px; }
  @media (min-width: 768px) {
    .container.col-lg-12 {
      width: auto;
      max-width: 2560px; } }
  @media (min-width: 992px) {
    .container.col-lg-12 {
      padding-left: 75px;
      padding-right: 75px; } }
  @media (min-width: 1650px) {
    .container.col-lg-12 {
      padding-left: 190px;
      padding-right: 190px; } }

.container .container.col-lg-12 {
  max-width: 1170px;
  padding-left: 0;
  padding-right: 0; }

#header > .wrapper {
  padding-top: 52px;
  padding-bottom: 28px; }
  #header > .wrapper [class*='col-'] {
    line-height: 0; }
  @media (min-width: 1200px) {
    #header > .wrapper {
      padding-top: 12px;
      padding-bottom: 12px; }
      #header > .wrapper [class*='col-'] {
        line-height: 1; } }
  #header > .wrapper .module {
    display: inline-block;
    line-height: 1;
    vertical-align: top; }
    @media (max-width: 1199px) {
      #header > .wrapper .module > div {
        vertical-align: top; }
        #header > .wrapper .module > div + div {
          margin-left: 55px; } }
  @media (min-width: 1200px) {
    #header > .wrapper.padding-none {
      padding-top: 0;
      padding-bottom: 0; } }
  @media (min-width: 1360px) {
    #header > .wrapper.padding-none > div:first-child .top_menu > ul {
      padding: 23px 0; }
    #header > .wrapper.padding-none .stickUpTop.isStuck .top_menu > ul {
      padding: 0; } }
#header .wishlist-button {
  display: inline-block;
  margin: 0;
  position: static; }
  #header .wishlist-button:before, #header .wishlist-button:after {
    display: none; }
#header .icon-links {
  position: static;
  text-align: right; }
  #header .icon-links .wishlist-button .wishlist-link a {
    padding: 0; }
    #header .icon-links .wishlist-button .wishlist-link a:before {
      position: static;
      margin: 0; }
    #header .icon-links .wishlist-button .wishlist-link a span {
      display: none; }
  #header .icon-links .shopping_cart {
    margin-left: 15px; }
    @media (min-width: 1650px) {
      #header .icon-links .shopping_cart {
        margin-left: 25px; } }
    #header .icon-links .shopping_cart > a:first-child {
      padding: 0; }
      #header .icon-links .shopping_cart > a:first-child:before {
        position: static;
        margin: 0; }
      #header .icon-links .shopping_cart > a:first-child span, #header .icon-links .shopping_cart > a:first-child b {
        display: none !important; }
      #header .icon-links .shopping_cart > a:first-child span.ajax_cart_quantity {
        display: inline-block !important; }
  #header .icon-links #header-login {
    margin-bottom: 0; }
    #header .icon-links #header-login div.current a {
      padding: 0;
      line-height: 1; }
      #header .icon-links #header-login div.current a span {
        display: none; }
      #header .icon-links #header-login div.current a:before {
        display: inline-block;
        position: static;
        margin: 0; }
    @media (min-width: 1200px) and (max-width: 1649px) {
      #header .icon-links #header-login {
        margin-right: 15px; } }
    #header .icon-links #header-login .header-login-content {
      left: auto;
      right: 0; }
  #header .icon-links #currencies-block-top, #header .icon-links #languages-block-top {
    margin-right: 35px; }
    @media (min-width: 1650px) {
      #header .icon-links #currencies-block-top, #header .icon-links #languages-block-top {
        margin-right: 56px; } }
    #header .icon-links #currencies-block-top div.current, #header .icon-links #languages-block-top div.current {
      line-height: 22px; }
#header .header-account-icon #header-login {
  margin-bottom: 0; }
  #header .header-account-icon #header-login div.current a {
    text-transform: none;
    font-weight: 400;
    letter-spacing: 0;
    padding-left: 38px; }
    #header .header-account-icon #header-login div.current a:before {
      display: inline-block; }
  @media (min-width: 1200px) and (max-width: 1649px) {
    #header .header-account-icon #header-login {
      margin-right: 56px; } }
#header .mobile-items {
  margin-top: 48px; }
  #header .mobile-items #languages-block-top {
    margin-top: 44px; }
  #header .mobile-items #currencies-block-top {
    margin-top: 18px; }
#header > .wishlist-link {
  display: none; }

@media (min-width: 1650px) {
  .menu-offset-1 .top_menu > ul > li + li, .menu-offset-1 .top_menu .stickUpHolder > ul > li + li {
    margin-left: 120px; } }

#index .header-absolute {
  background: #f5f1f0; }
  @media (min-width: 1200px) {
    #index .header-absolute {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      background: none; } }

@media (min-width: 1200px) {
  .position-static {
    position: static; } }

@media (min-width: 1200px) {
  .align-center {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    padding: 10px 0; } }

@media (min-width: 1200px) {
  .border-bottom {
    position: relative; }
    .border-bottom:before {
      display: block;
      position: absolute;
      content: '';
      left: 50%;
      bottom: 0;
      width: 101vw;
      -moz-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      -o-transform: translate(-50%, 0);
      -webkit-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
      border-bottom: 1px solid #bdbdbd; } }

@media (max-width: 1199px) {
  .lg-revers {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse; } }

.gray-background {
  background: #f2f2f2;
  padding-bottom: 30px; }

* + .gray-background {
  margin-top: 50px; }
  @media (min-width: 1200px) {
    * + .gray-background {
      margin-top: 119px; } }

.wrapper + .gray-background {
  margin-top: 20px; }
  @media (min-width: 1200px) {
    .wrapper + .gray-background {
      margin-top: 40px; } }

.featured-product-carousel #homefeatured {
  margin: 0;
  max-width: none; }
  .featured-product-carousel #homefeatured > li {
    padding-left: 0;
    padding-right: 0;
    clear: none; }
@media (min-width: 1200px) {
  .featured-product-carousel ul.product_list.grid > li .product-container .left-block {
    padding-left: 9%;
    padding-right: 9%; } }
.featured-product-carousel ul.product_list.grid > li .product-container .product-image-container {
  background: none; }
.featured-product-carousel ul.product_list.grid > li .product-container h5 {
  position: relative;
  padding-top: 32px; }
  .featured-product-carousel ul.product_list.grid > li .product-container h5:before {
    display: block;
    position: absolute;
    left: 50%;
    top: 0;
    content: '';
    width: 100px;
    margin-left: -50px;
    border-bottom: 2px solid #eae6da; }
.featured-product-carousel ul.product_list.grid > li .product-container .product-name {
  font: 400 20px/1.2 "Playfair Display", serif;
  color: #222222; }
  @media (max-width: 1199px) {
    .featured-product-carousel ul.product_list.grid > li .product-container .product-name {
      font-size: 16px;
      line-height: 1.2; } }
  .featured-product-carousel ul.product_list.grid > li .product-container .product-name:hover {
    color: #eb2972; }
.featured-product-carousel ul.product_list.grid > li .product-container .price {
  font-family: "Playfair Display", serif;
  color: #949494;
  font-size: 18px;
  font-weight: 400; }
.featured-product-carousel .bx-wrapper .bx-controls-direction a {
  height: 30px;
  width: 30px;
  color: #aab2b5;
  text-align: center; }
  .featured-product-carousel .bx-wrapper .bx-controls-direction a:before {
    font-family: "FontAwesome";
    content: "\f105";
    display: inline-block;
    font-weight: normal;
    font-size: 25px;
    line-height: 30px;
    color: inherit; }
  .featured-product-carousel .bx-wrapper .bx-controls-direction a.bx-prev {
    left: 0; }
    @media (min-width: 992px) {
      .featured-product-carousel .bx-wrapper .bx-controls-direction a.bx-prev {
        left: -25px; } }
    .featured-product-carousel .bx-wrapper .bx-controls-direction a.bx-prev:before {
      content: '\f104'; }
  .featured-product-carousel .bx-wrapper .bx-controls-direction a.bx-next {
    right: 0; }
    @media (min-width: 992px) {
      .featured-product-carousel .bx-wrapper .bx-controls-direction a.bx-next {
        right: -25px; } }
  .featured-product-carousel .bx-wrapper .bx-controls-direction a:hover {
    color: #eb2972; }
  .featured-product-carousel .bx-wrapper .bx-controls-direction a.disabled {
    display: inline-block;
    color: #e1e3e4;
    cursor: default; }

.columns-container > div:last-child {
  margin-bottom: 30px; }
  @media (min-width: 1200px) {
    .columns-container > div:last-child {
      margin-bottom: 70px; } }
  .columns-container > div:last-child.gray-background {
    margin-bottom: 0;
    border-bottom: 1px solid white; }
.columns-container > div.no-margin {
  margin: 0; }

@media (max-width: 767px) {
  #category .columns-container > div:last-child {
    margin-bottom: 0; } }
.footer-container .wrapper:first-child {
  padding-top: 50px;
  padding-bottom: 30px; }
  @media (min-width: 768px) {
    .footer-container .wrapper:first-child {
      padding-top: 70px;
      padding-bottom: 45px; } }
  @media (min-width: 1200px) {
    .footer-container .wrapper:first-child {
      padding-top: 115px;
      padding-bottom: 75px; } }
  .footer-container .wrapper:first-child > .row + .row {
    position: relative;
    padding-top: 20px; }
    @media (min-width: 768px) {
      .footer-container .wrapper:first-child > .row + .row {
        padding-top: 50px; } }
    .footer-container .wrapper:first-child > .row + .row:before {
      position: absolute;
      display: block;
      left: 15px;
      right: 15px;
      top: 0;
      content: '';
      border-top: 1px solid #bdbdbd; }
.footer-container #footer > .row [class*='col-'] {
  min-height: 0; }
.footer-container .without-heading h4 {
  display: none; }

@media (min-width: 768px) {
  .productscategory-type-2 #productscategory_list li {
    display: block; }
    .productscategory-type-2 #productscategory_list li .product {
      width: 100%;
      padding-left: 0;
      padding-right: 0; }
      .productscategory-type-2 #productscategory_list li .product > div {
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        align-items: center; }
        .productscategory-type-2 #productscategory_list li .product > div .left-block {
          width: 39%; }
          .productscategory-type-2 #productscategory_list li .product > div .left-block .product-image {
            margin: 0; }
        .productscategory-type-2 #productscategory_list li .product > div .right-block {
          width: 61%;
          text-align: left;
          padding-left: 5%;
          padding-right: 6%; }
          .productscategory-type-2 #productscategory_list li .product > div .right-block .product-name {
            margin-top: 0; }
            .productscategory-type-2 #productscategory_list li .product > div .right-block .product-name a {
              font: 400 20px/1.2 "Playfair Display", serif;
              color: #222222; }
              .productscategory-type-2 #productscategory_list li .product > div .right-block .product-name a:hover {
                color: #eb2972; }
          .productscategory-type-2 #productscategory_list li .product > div .right-block .block_description {
            display: block; }
          .productscategory-type-2 #productscategory_list li .product > div .right-block .functional-buttons {
            position: static;
            opacity: 1;
            visibility: visible; }
            .productscategory-type-2 #productscategory_list li .product > div .right-block .functional-buttons .cart-btn {
              margin-top: 15px; }
      .productscategory-type-2 #productscategory_list li .product:last-child > div {
        padding-bottom: 0; }
  .productscategory-type-2 #productscategory_list .bx-wrapper .bx-controls-direction a {
    top: 50%;
    border: 2px solid #bdbdbd; }
    .productscategory-type-2 #productscategory_list .bx-wrapper .bx-controls-direction a:before {
      line-height: 66px; }
  .productscategory-type-2 #productscategory_list .bx-next {
    right: -15px; }
  .productscategory-type-2 #productscategory_list .bx-prev {
    left: -15px; } }
        @media (min-width: 768px) and (min-width: 1200px) {
          .productscategory-type-2 #productscategory_list li .product > div .right-block {
            padding-left: 14%; } }
@media (min-width: 768px) and (min-width: 992px) {
  .productscategory-type-2 #productscategory_list .bx-next {
    right: -40px; }
  .productscategory-type-2 #productscategory_list .bx-prev {
    left: -40px; } }
@media (min-width: 768px) and (min-width: 1200px) {
  .productscategory-type-2 #productscategory_list .bx-next {
    right: -60px; }
  .productscategory-type-2 #productscategory_list .bx-prev {
    left: -60px; } }
@media (min-width: 768px) and (min-width: 1370px) {
  .productscategory-type-2 #productscategory_list .bx-next {
    right: -100px; }
  .productscategory-type-2 #productscategory_list .bx-prev {
    left: -100px; } }

@media (min-width: 1200px) {
  .crossselling-type-2 li.product-box {
    padding-left: 30px;
    padding-right: 30px; } }
@media (min-width: 1650px) {
  .crossselling-type-2 li.product-box {
    padding-left: 50px;
    padding-right: 50px; } }
.crossselling-type-2 .product-image {
  background: none; }
.crossselling-type-2 h5 {
  position: relative;
  padding-top: 32px; }
  .crossselling-type-2 h5:before {
    display: block;
    position: absolute;
    left: 50%;
    top: 0;
    content: '';
    width: 100px;
    margin-left: -50px;
    border-bottom: 2px solid #eae6da; }
  .crossselling-type-2 h5 a {
    font: 400 20px/1.2 "Playfair Display", serif;
    color: #222222; }
    @media (max-width: 1199px) {
      .crossselling-type-2 h5 a {
        font-size: 16px;
        line-height: 1.2; } }
    .crossselling-type-2 h5 a:hover {
      color: #eb2972; }
.crossselling-type-2 .price {
  font-family: "Playfair Display", serif;
  color: #949494;
  font-size: 18px;
  font-weight: 400; }
