.rd-parallax-layer .text-layout, .rd-parallax-layer .parallax-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.rd-parallax-inner {
  clip: rect(0px auto auto 0px); }

.top-z-index {
  z-index: 1; }

.home-parallax-1, .home-parallax-2 {
  position: relative; }
  .home-parallax-1 .text-layout, .home-parallax-2 .text-layout {
    text-align: center;
    will-change: transform; }
    .home-parallax-1 .text-layout h3, .home-parallax-2 .text-layout h3 {
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 0.12em;
      text-transform: uppercase;
      color: #949494;
      margin: 0; }
      @media (min-width: 1200px) {
        .home-parallax-1 .text-layout h3, .home-parallax-2 .text-layout h3 {
          font-size: 20px;
          letter-spacing: 0.22em; } }
    .home-parallax-1 .text-layout h2, .home-parallax-2 .text-layout h2 {
      position: relative;
      font-family: "Playfair Display", serif;
      font-size: 50px;
      font-weight: 300;
      letter-spacing: 0.06em;
      color: #222222;
      margin: 0; }
      @media (min-width: 1200px) {
        .home-parallax-1 .text-layout h2, .home-parallax-2 .text-layout h2 {
          font-size: 72px;
          letter-spacing: -2.8px; } }
    .home-parallax-1 .text-layout p, .home-parallax-2 .text-layout p {
      font-size: 18px;
      margin-bottom: 0; }
    @media (min-width: 1200px) {
      .home-parallax-1 .text-layout .btn, .home-parallax-2 .text-layout .btn {
        min-width: 195px; } }
    .home-parallax-1 .text-layout * + h2, .home-parallax-2 .text-layout * + h2 {
      margin-top: 9px; }
    .home-parallax-1 .text-layout * + p, .home-parallax-2 .text-layout * + p {
      margin-top: 18px; }
      @media (min-width: 1200px) {
        .home-parallax-1 .text-layout * + p, .home-parallax-2 .text-layout * + p {
          margin-top: 34px; } }
    .home-parallax-1 .text-layout p + p, .home-parallax-2 .text-layout p + p {
      margin-top: 28px; }
    .home-parallax-1 .text-layout.text-left, .home-parallax-2 .text-layout.text-left {
      left: 10%;
      width: 70%;
      -moz-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      -o-transform: translate(0, -50%);
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%);
      text-align: left; }
      @media (min-width: 480px) {
        .home-parallax-1 .text-layout.text-left, .home-parallax-2 .text-layout.text-left {
          width: 80%; } }
  .home-parallax-1.white-text, .home-parallax-2.white-text {
    color: white; }
    .home-parallax-1.white-text .text-layout h2, .home-parallax-1.white-text .text-layout h3, .home-parallax-2.white-text .text-layout h2, .home-parallax-2.white-text .text-layout h3 {
      color: white; }
  .home-parallax-1 .video-bg:before, .home-parallax-2 .video-bg:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.34);
    z-index: 9999991; }

.top-parallax {
  background: #f4f4f4; }
  .top-parallax:before {
    display: block;
    content: '';
    position: absolute;
    top: 8%;
    bottom: 8%;
    left: 7%;
    right: 7%;
    border: 20px solid white; }
    @media (min-width: 480px) {
      .top-parallax:before {
        left: 12%;
        right: 12%; } }
    @media (min-width: 1650px) {
      .top-parallax:before {
        top: 17%;
        bottom: 17%; } }
  .top-parallax .col-xs-12 {
    padding-bottom: 33.8%;
    min-height: 420px !important; }
  .top-parallax .text-layout h2 {
    color: #eb2972;
    padding-bottom: 12px;
    margin-bottom: 10px; }
    @media (min-width: 1200px) {
      .top-parallax .text-layout h2 {
        padding-bottom: 30px;
        margin-bottom: 20px; } }
    .top-parallax .text-layout h2:before {
      display: block;
      position: absolute;
      left: 50%;
      bottom: 0;
      content: '';
      width: 160px;
      margin-left: -80px;
      border-bottom: 1px solid #e7e7e7; }

.home-parallax-1 .text-layout, .home-parallax-2 .text-layout {
  padding-bottom: 15px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px; }
  .home-parallax-1 .text-layout h2, .home-parallax-2 .text-layout h2 {
    color: #222222;
    line-height: 1.2;
    font-size: 22px; }
    @media (min-width: 768px) {
      .home-parallax-1 .text-layout h2, .home-parallax-2 .text-layout h2 {
        font-size: 35px; } }
    @media (min-width: 1200px) {
      .home-parallax-1 .text-layout h2, .home-parallax-2 .text-layout h2 {
        font-size: 50px;
        letter-spacing: -0.04em; } }
    @media (min-width: 1370px) {
      .home-parallax-1 .text-layout h2, .home-parallax-2 .text-layout h2 {
        font-size: 72px; } }
  .home-parallax-1 .text-layout * + h2, .home-parallax-2 .text-layout * + h2 {
    margin-top: 0; }
  .home-parallax-1 .text-layout * + .btn-wrap, .home-parallax-2 .text-layout * + .btn-wrap {
    margin-top: 20px; }
    @media (min-width: 1370px) {
      .home-parallax-1 .text-layout * + .btn-wrap, .home-parallax-2 .text-layout * + .btn-wrap {
        margin-top: 40px; } }
  .home-parallax-1 .text-layout .btn, .home-parallax-2 .text-layout .btn {
    padding: 15px 25px; }
  @media (min-width: 1200px) {
    .home-parallax-1 .text-layout p + p, .home-parallax-2 .text-layout p + p {
      margin-top: 45px; } }
  @media (max-width: 767px) {
    .home-parallax-1 .text-layout h3 + h2, .home-parallax-2 .text-layout h3 + h2 {
      margin-top: 10px; }
    .home-parallax-1 .text-layout .btn, .home-parallax-2 .text-layout .btn {
      padding: 10px 25px; } }

.rd-parallax div[class*="col-"] {
  padding-bottom: 30.47%; }
  @media (max-width: 768px) {
    .rd-parallax div[class*="col-"] {
      min-height: 350px !important; } }

.home-parallax-2 div[class*="col-"] {
  padding-bottom: 25.5%; }
@media (min-width: 1200px) {
  .home-parallax-2 .rd-parallax-layer .text-layout {
    top: 55%; } }
