/**************************************************************************
		        Main style TM Mosaic Products
**************************************************************************/
.mosaic-block {
  margin-top: 50px;
  margin-bottom: 50px; }
  @media (min-width: 1200px) {
    .mosaic-block {
      margin-top: 83px;
      margin-bottom: 80px; } }
  .mosaic-block .title_block {
    text-align: center;
    margin-bottom: 0;
    padding-right: 0; }
    @media (min-width: 480px) {
      .mosaic-block .title_block {
        margin-bottom: 20px; } }
    @media (min-width: 768px) {
      .mosaic-block .title_block {
        margin-bottom: 71px; } }
    @media (max-width: 767px) {
      .mosaic-block .title_block:after {
        display: none; } }
  .mosaic-block .block-container-row .tmmp-frontend-banner h3,
  .mosaic-block .block-container-row .wrapper-slider h3,
  .mosaic-block .block-container-row .tmmp-frontend-html h3,
  .mosaic-block .block-container-row .tmmp-frontend-video h3 {
    font: 700 24px/27px "Open Sans", sans-serif;
    color: #333;
    margin: 0 0 25px; }
  .mosaic-block .block-container-row .wrapper-slider > h3 {
    font-size: 30px;
    text-align: center; }

/* tmmp_row_2 */
@media (max-width: 767px) {
  .tmmp_row_2 > li:first-child > div {
    padding-bottom: 30px;
    margin-bottom: 30px; } }

/* tmmp_row_3 */
@media (max-width: 767px) {
  .tmmp_row_3 li:nth-child(-n+2) > div {
    padding-bottom: 30px;
    margin-bottom: 30px; } }

/* tmmp_row_4 */
@media (max-width: 767px) {
  .tmmp_row_4 li:nth-child(-n+3) > div {
    padding-bottom: 30px;
    margin-bottom: 30px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .tmmp_row_4 li:nth-child(3) {
    clear: left; } }

@media (min-width: 768px) and (max-width: 991px) {
  .tmmp_row_4 li:nth-child(-n+2) > div {
    padding-bottom: 30px;
    margin-bottom: 30px; } }

/* tmmp_row_6 */
@media (min-width: 992px) and (max-width: 1199px) {
  .tmmp_row_6 li:nth-child(4) {
    clear: left; } }

@media (min-width: 768px) and (max-width: 991px) {
  .tmmp_row_6 li:nth-child(-n+4) > div {
    padding-bottom: 30px;
    margin-bottom: 30px; } }

@media (max-width: 767px) {
  .tmmp_row_6 li:nth-child(-n+5) > div {
    padding-bottom: 30px;
    margin-bottom: 30px; } }

/* tmmp_row_1_4 */
.tmmp_row_1_4 > li:last-child > ul > li:nth-child(3) {
  clear: left; }

.tmmp_row_1_4 > li > ul > li:nth-child(n+3):nth-child(-n+4) > div {
  margin-top: 30px;
  padding-top: 50px; }

@media (max-width: 767px) {
  .tmmp_row_1_4 > li > ul > li > div {
    margin-top: 20px;
    padding-top: 20px; } }

@media (min-width: 768px) and (max-width: 992px) {
  .tmmp_row_1_4 > li:first-child > div {
    margin-bottom: 30px;
    padding-bottom: 30px; } }

/* tmmp_row_4_1 */
.tmmp_row_4_1 ul > li:nth-child(3) {
  clear: left; }

.tmmp_row_4_1 li ul li:nth-child(n+3):nth-child(-n+4) > div {
  margin-top: 20px;
  padding-top: 20px; }

@media (min-width: 768px) and (max-width: 992px) {
  .tmmp_row_4_1 > li:last-child > div {
    margin-top: 30px;
    padding-top: 30px; } }

/* tmmp_row_2_1_2 */
.tmmp_row_2_1_2 li:first-child ul li:first-child > div,
.tmmp_row_2_1_2 li:nth-child(3) ul li:first-child > div {
  margin-bottom: 30px;
  padding-bottom: 30px; }

@media (max-width: 767px) {
  .tmmp_row_2_1_2 li ul li > div,
  .tmmp_row_2_1_2 > li:nth-child(2) > div {
    margin-bottom: 30px;
    padding-bottom: 30px; } }

/**************************************************************************
		        Style for banner and html content
**************************************************************************/
.tmmp-banner-description img,
.tmmp-frontend-html img {
  max-width: 100%;
  height: auto; }

/**************************************************************************
		        Style for Video
**************************************************************************/
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden; }
  .video-container iframe,
  .video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.tmmp-frontend-video .vjs-default-skin .vjs-big-play-button {
  height: 1.6em;
  width: 3em;
  font-size: 1.5em;
  border-radius: 0.5em; }
  .tmmp-frontend-video .vjs-default-skin .vjs-big-play-button:before {
    line-height: 1.5em; }

/**************************************************************************
		        Style for Slider
**************************************************************************/
.mosaic-block .bx-wrapper li img {
  max-width: 100%;
  height: auto; }
.mosaic-block .bx-wrapper .bx-controls-direction a {
  top: -40px;
  height: 40px;
  width: 40px;
  text-align: center; }
  @media (max-width: 767px) {
    .mosaic-block .bx-wrapper .bx-controls-direction a {
      display: none; } }
  .mosaic-block .bx-wrapper .bx-controls-direction a:before {
    color: #333;
    font-size: 40px; }
  .mosaic-block .bx-wrapper .bx-controls-direction a:hover:before {
    color: #777; }
  .mosaic-block .bx-wrapper .bx-controls-direction a.bx-next {
    right: -12px; }
    .mosaic-block .bx-wrapper .bx-controls-direction a.bx-next:before {
      content: "\f105"; }
  .mosaic-block .bx-wrapper .bx-controls-direction a.bx-prev {
    left: inherit;
    right: 20px; }
    .mosaic-block .bx-wrapper .bx-controls-direction a.bx-prev:before {
      content: "\f104"; }
.mosaic-block .bx-wrapper .bx-pager {
  bottom: -45px; }
  .mosaic-block .bx-wrapper .bx-pager a {
    background: #f5f5f5;
    height: 15px;
    width: 15px;
    border-radius: 50%; }
    .mosaic-block .bx-wrapper .bx-pager a.active, .mosaic-block .bx-wrapper .bx-pager a:hover {
      background: #333; }

/**************************************************************************
		        Style for Product
**************************************************************************/
.block-container-row > ul:first-child {
  background: rgba(189, 189, 189, 0.12); }
.block-container-row .block.products_block.daydeal-box {
  display: none; }
@media (min-width: 768px) {
  .block-container-row + .block-container-row {
    border-top: 1px solid white; } }
.block-container-row .product-container {
  position: relative;
  overflow: hidden;
  background: none; }
  .block-container-row .product-container .product-image-container .mosaic-sale-label {
    right: 0;
    background: #ef5350; }
  .block-container-row .product-container .product-image-container .product_img_link {
    display: block; }
    .block-container-row .product-container .product-image-container .product_img_link img {
      -moz-transition: 0.3s;
      -o-transition: 0.3s;
      -webkit-transition: 0.3s;
      transition: 0.3s;
      backface-visibility: hidden; }
    .block-container-row .product-container .product-image-container .product_img_link:hover img {
      opacity: .7; }
.block-container-row ul.tmmp_row_1_3,
.block-container-row ul.tmmp_row_3_1 {
  margin: 0; }
  .block-container-row ul.tmmp_row_1_3 .product-container,
  .block-container-row ul.tmmp_row_3_1 .product-container {
    padding: 0 15px 0; }
    @media (min-width: 1500px) {
      .block-container-row ul.tmmp_row_1_3 .product-container,
      .block-container-row ul.tmmp_row_3_1 .product-container {
        padding: 0 43px 10px; } }
  .block-container-row ul.tmmp_row_1_3 .product-image-container .product_img_link,
  .block-container-row ul.tmmp_row_3_1 .product-image-container .product_img_link {
    padding: 7% 5% 5%; }
  .block-container-row ul.tmmp_row_1_3 ul.row,
  .block-container-row ul.tmmp_row_3_1 ul.row {
    margin: 0; }
  .block-container-row ul.tmmp_row_1_3 .product-descr,
  .block-container-row ul.tmmp_row_3_1 .product-descr {
    padding: 5px 0;
    overflow: hidden;
    *zoom: 1; }
  .block-container-row ul.tmmp_row_1_3 h5,
  .block-container-row ul.tmmp_row_3_1 h5 {
    min-height: 32px;
    margin-bottom: 0; }
  .block-container-row ul.tmmp_row_1_3 .comments_note,
  .block-container-row ul.tmmp_row_3_1 .comments_note {
    margin-top: 10px; }
    .block-container-row ul.tmmp_row_1_3 .comments_note > span,
    .block-container-row ul.tmmp_row_3_1 .comments_note > span {
      display: none; }
  .block-container-row ul.tmmp_row_1_3 .content_price,
  .block-container-row ul.tmmp_row_3_1 .content_price {
    margin-bottom: 10px; }
    @media (min-width: 992px) {
      .block-container-row ul.tmmp_row_1_3 .content_price,
      .block-container-row ul.tmmp_row_3_1 .content_price {
        margin-bottom: 20px; } }
  .block-container-row ul.tmmp_row_1_3 li,
  .block-container-row ul.tmmp_row_3_1 li {
    padding: 0; }
    @media (min-width: 480px) and (max-width: 767px) {
      .block-container-row ul.tmmp_row_1_3 li,
      .block-container-row ul.tmmp_row_3_1 li {
        float: none;
        max-width: 570px;
        margin: 0 auto; }
        .block-container-row ul.tmmp_row_1_3 li .product-image-container, .block-container-row ul.tmmp_row_1_3 li .product-descr,
        .block-container-row ul.tmmp_row_3_1 li .product-image-container,
        .block-container-row ul.tmmp_row_3_1 li .product-descr {
          width: 49%;
          float: left; }
        .block-container-row ul.tmmp_row_1_3 li .product-descr,
        .block-container-row ul.tmmp_row_3_1 li .product-descr {
          padding-top: 5%;
          padding-left: 20px; } }
    @media (max-width: 767px) {
      .block-container-row ul.tmmp_row_1_3 li,
      .block-container-row ul.tmmp_row_3_1 li {
        border-top: 1px solid white; }
        .block-container-row ul.tmmp_row_1_3 li:first-child,
        .block-container-row ul.tmmp_row_3_1 li:first-child {
          border-top: none; }
        .block-container-row ul.tmmp_row_1_3 li:last-child,
        .block-container-row ul.tmmp_row_3_1 li:last-child {
          border-bottom: 1px solid white; } }
  .block-container-row ul.tmmp_row_1_3 > li ul li:last-child,
  .block-container-row ul.tmmp_row_3_1 > li ul li:last-child {
    clear: both;
    position: relative; }
    @media (min-width: 768px) {
      .block-container-row ul.tmmp_row_1_3 > li ul li:last-child .product-image-container, .block-container-row ul.tmmp_row_1_3 > li ul li:last-child .product-descr,
      .block-container-row ul.tmmp_row_3_1 > li ul li:last-child .product-image-container,
      .block-container-row ul.tmmp_row_3_1 > li ul li:last-child .product-descr {
        width: 40%;
        float: left; }
      .block-container-row ul.tmmp_row_1_3 > li ul li:last-child .product-descr,
      .block-container-row ul.tmmp_row_3_1 > li ul li:last-child .product-descr {
        padding-top: 2%;
        padding-left: 10px; } }
    @media (min-width: 992px) {
      .block-container-row ul.tmmp_row_1_3 > li ul li:last-child .product-image-container, .block-container-row ul.tmmp_row_1_3 > li ul li:last-child .product-descr,
      .block-container-row ul.tmmp_row_3_1 > li ul li:last-child .product-image-container,
      .block-container-row ul.tmmp_row_3_1 > li ul li:last-child .product-descr {
        width: 49%;
        float: left; }
      .block-container-row ul.tmmp_row_1_3 > li ul li:last-child .product-descr,
      .block-container-row ul.tmmp_row_3_1 > li ul li:last-child .product-descr {
        padding-top: 5%;
        padding-left: 20px; } }
    @media (min-width: 768px) {
      .block-container-row ul.tmmp_row_1_3 > li ul li:last-child,
      .block-container-row ul.tmmp_row_3_1 > li ul li:last-child {
        border-top: 1px solid white; } }
@media (min-width: 768px) {
  .block-container-row ul.tmmp_row_1_3 > li {
    border-right: 1px solid white; }
    .block-container-row ul.tmmp_row_1_3 > li:last-child {
      border: none; }
    .block-container-row ul.tmmp_row_1_3 > li ul li:first-child {
      border-right: 1px solid white; }
  .block-container-row ul.tmmp_row_3_1 > li:last-child {
    border-left: 1px solid white; }
  .block-container-row ul.tmmp_row_3_1 > li ul li:first-child + li {
    border-left: 1px solid white; } }
