.newsletter-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 9999;
  overflow: hidden;
  -moz-transition: 0.3s opacity ease;
  -o-transition: 0.3s opacity ease;
  -webkit-transition: 0.3s opacity ease;
  transition: 0.3s opacity ease; }
  .newsletter-overlay #newsletter_popup {
    background: white;
    -moz-box-shadow: 0 1px 16px rgba(16, 39, 71, 0.5);
    -webkit-box-shadow: 0 1px 16px rgba(16, 39, 71, 0.5);
    box-shadow: 0 1px 16px rgba(16, 39, 71, 0.5);
    border: none;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    z-index: 99999;
    background: #f6f8f9;
    margin: 0 auto;
    padding: 25px;
    max-width: 700px;
    min-width: 290px;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-height: 90%;
    overflow: auto; }
    @media (min-width: 480px) {
      .newsletter-overlay #newsletter_popup {
        padding: 40px; } }
    .newsletter-overlay #newsletter_popup .icon.tmnewsletter-close {
      position: absolute;
      right: 15px;
      top: 15px;
      width: 30px;
      height: 30px;
      cursor: pointer;
      z-index: 2;
      text-align: center;
      line-height: 30px;
      background-image: none;
      -moz-transition: 0.3s all ease;
      -o-transition: 0.3s all ease;
      -webkit-transition: 0.3s all ease;
      transition: 0.3s all ease;
      right: 0;
      top: 0; }
      .newsletter-overlay #newsletter_popup .icon.tmnewsletter-close:before {
        font-family: 'Material Icons';
        content: "\e5cd";
        display: inline-block;
        font-weight: normal;
        font-size: 16px; }
      .newsletter-overlay #newsletter_popup .icon.tmnewsletter-close:hover {
        color: #eb2972; }
      @media (min-width: 480px) {
        .newsletter-overlay #newsletter_popup .icon.tmnewsletter-close {
          right: 5px;
          top: 5px; } }
      @media (min-width: 768px) {
        .newsletter-overlay #newsletter_popup .icon.tmnewsletter-close {
          right: 21px;
          top: 21px; } }
    .newsletter-overlay #newsletter_popup .tmnewsletter-inner {
      position: relative;
      padding: 40px 15px 50px;
      text-align: center; }
      @media (min-width: 480px) {
        .newsletter-overlay #newsletter_popup .tmnewsletter-inner {
          padding: 70px 25px; } }
      @media (min-width: 768px) {
        .newsletter-overlay #newsletter_popup .tmnewsletter-inner {
          padding: 112px 40px; } }
      @media (min-width: 992px) {
        .newsletter-overlay #newsletter_popup .tmnewsletter-inner {
          padding: 112px 59px; } }
      .newsletter-overlay #newsletter_popup .tmnewsletter-inner .tmnewsletter-wrap {
        max-height: 100%;
        overflow: auto; }
      .newsletter-overlay #newsletter_popup .tmnewsletter-inner .tmnewsletter-header h4 {
        margin: 0;
        font: 400 36px/1.2 "Playfair Display", serif;
        color: #222222; }
      .newsletter-overlay #newsletter_popup .tmnewsletter-inner .tmnewsletter-content {
        margin-top: 13px; }
        .newsletter-overlay #newsletter_popup .tmnewsletter-inner .tmnewsletter-content .description {
          font-size: 18px; }
        .newsletter-overlay #newsletter_popup .tmnewsletter-inner .tmnewsletter-content .form-group {
          position: relative;
          margin-top: 27px;
          margin-bottom: 10px; }
          @media (min-width: 650px) {
            .newsletter-overlay #newsletter_popup .tmnewsletter-inner .tmnewsletter-content .form-group .form-control {
              padding-right: 200px; } }
          @media (min-width: 768px) {
            .newsletter-overlay #newsletter_popup .tmnewsletter-inner .tmnewsletter-content .form-group .form-control {
              padding-right: 250px; } }
          .newsletter-overlay #newsletter_popup .tmnewsletter-inner .tmnewsletter-content .form-group .tmnewsletter-submit {
            box-shadow: none;
            color: white;
            padding: 15px 20px;
            margin-top: 15px; }
            @media (min-width: 650px) {
              .newsletter-overlay #newsletter_popup .tmnewsletter-inner .tmnewsletter-content .form-group .tmnewsletter-submit {
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                border-radius: 0;
                margin: 0; } }
            @media (min-width: 992px) {
              .newsletter-overlay #newsletter_popup .tmnewsletter-inner .tmnewsletter-content .form-group .tmnewsletter-submit {
                min-width: 200px; } }
            .newsletter-overlay #newsletter_popup .tmnewsletter-inner .tmnewsletter-content .form-group .tmnewsletter-submit:hover {
              background: #222222; }
        .newsletter-overlay #newsletter_popup .tmnewsletter-inner .tmnewsletter-content .email-error .form-control {
          -moz-box-shadow: inset 0 0 3px #db6460, 0 0 8px rgba(235, 41, 114, 0.2);
          -webkit-box-shadow: inset 0 0 3px #db6460, 0 0 8px rgba(235, 41, 114, 0.2);
          box-shadow: inset 0 0 3px #db6460, 0 0 8px rgba(235, 41, 114, 0.2);
          color: #db6460; }
        .newsletter-overlay #newsletter_popup .tmnewsletter-inner .tmnewsletter-content .email-valid .form-control {
          -moz-box-shadow: inset 0 0 3px #6cbf6d, 0 0 8px rgba(235, 41, 114, 0.2);
          -webkit-box-shadow: inset 0 0 3px #6cbf6d, 0 0 8px rgba(235, 41, 114, 0.2);
          box-shadow: inset 0 0 3px #6cbf6d, 0 0 8px rgba(235, 41, 114, 0.2);
          color: #6cbf6d; }
        .newsletter-overlay #newsletter_popup .tmnewsletter-inner .tmnewsletter-content .alert.alert-danger:before {
          display: none; }
        .newsletter-overlay #newsletter_popup .tmnewsletter-inner .tmnewsletter-content button.close {
          line-height: 26px;
          -moz-transition: 0.3s color ease;
          -o-transition: 0.3s color ease;
          -webkit-transition: 0.3s color ease;
          transition: 0.3s color ease; }
          .newsletter-overlay #newsletter_popup .tmnewsletter-inner .tmnewsletter-content button.close:hover {
            color: #eb2972; }
      .newsletter-overlay #newsletter_popup .tmnewsletter-inner .tmnewsletter-footer .checkbox {
        position: absolute;
        left: 50%;
        bottom: 20px;
        white-space: nowrap;
        -moz-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        -o-transform: translate(-50%, 0);
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0); }
        .newsletter-overlay #newsletter_popup .tmnewsletter-inner .tmnewsletter-footer .checkbox .checker {
          display: inline-block;
          vertical-align: 0; }
          .newsletter-overlay #newsletter_popup .tmnewsletter-inner .tmnewsletter-footer .checkbox .checker .checked:before {
            left: 0; }
        .newsletter-overlay #newsletter_popup .tmnewsletter-inner .tmnewsletter-footer .checkbox input {
          display: block; }
