#tmsearch {
  position: static;
  padding: 0; }
  @media (max-width: 1199px) {
    #tmsearch {
      display: inline-block; } }
  @media (min-width: 1200px) {
    #tmsearch:before {
      visibility: hidden;
      opacity: 0;
      content: '';
      position: absolute;
      top: 1px;
      right: 0;
      bottom: 1px;
      left: 0;
      background: rgba(255, 255, 255, 0.7);
      -moz-transition: 0.4s all ease;
      -o-transition: 0.4s all ease;
      -webkit-transition: 0.4s all ease;
      transition: 0.4s all ease;
      z-index: 1; } }
  #tmsearch #tmsearchbox {
    position: absolute;
    visibility: hidden;
    top: 50%;
    left: 17.5%;
    right: 17.5%;
    margin-top: -30px;
    padding: 0;
    float: none;
    width: auto;
    z-index: 2;
    background: #f6f8f9;
    -moz-transition: 0.4s all ease;
    -o-transition: 0.4s all ease;
    -webkit-transition: 0.4s all ease;
    transition: 0.4s all ease; }
    @media (max-width: 767px) {
      #tmsearch #tmsearchbox {
        margin-top: -40px;
        left: 15px;
        right: 15px; } }
    @media (max-width: 479px) {
      #tmsearch #tmsearchbox {
        left: 0;
        right: 0; } }
  #tmsearch .button-search {
    position: absolute;
    top: 52%;
    right: 21px;
    background: none;
    border: none;
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    -moz-transition: 0.1s all ease;
    -o-transition: 0.1s all ease;
    -webkit-transition: 0.1s all ease;
    transition: 0.1s all ease;
    opacity: 0; }
    #tmsearch .button-search:before {
      font-family: "FontAwesome";
      content: "\f002";
      display: inline-block;
      font-weight: normal;
      font-size: 16px; }
    #tmsearch .button-search:hover {
      color: #eb2972; }
    @media (max-width: 767px) {
      #tmsearch .button-search {
        right: auto;
        left: 210px;
        top: 50%; } }
    @media (max-width: 479px) {
      #tmsearch .button-search {
        left: 130px; } }
  #tmsearch .search-close {
    position: absolute;
    top: 50%;
    left: -30px;
    cursor: pointer;
    color: #222222;
    width: 30px;
    height: 30px;
    text-align: center;
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    -moz-transition: 0.1s all ease;
    -o-transition: 0.1s all ease;
    -webkit-transition: 0.1s all ease;
    transition: 0.1s all ease;
    opacity: 0; }
    #tmsearch .search-close:hover {
      color: #eb2972; }
    #tmsearch .search-close:before {
      font-family: 'Material Icons';
      content: "\e5cd";
      display: inline-block;
      font-weight: normal;
      font-size: 28px;
      line-height: 30px; }
    @media (max-width: 767px) {
      #tmsearch .search-close {
        left: auto;
        right: 23px;
        color: #e1e1e1; }
        #tmsearch .search-close:before {
          font-size: 25px; } }
  #tmsearch .selector {
    position: absolute;
    left: 0;
    top: 0;
    border: none;
    height: 60px;
    border-right: 1px solid #bdbdbd;
    min-width: 200px;
    max-width: 200px;
    text-align: left;
    opacity: 0;
    -moz-transition: 0.1s all ease;
    -o-transition: 0.1s all ease;
    -webkit-transition: 0.1s all ease;
    transition: 0.1s all ease; }
    #tmsearch .selector span {
      height: 60px;
      line-height: 60px;
      width: 100% !important; }
      #tmsearch .selector span:after {
        height: 60px;
        line-height: 60px; }
    @media (max-width: 767px) {
      #tmsearch .selector {
        height: 80px; }
        #tmsearch .selector span {
          height: 80px;
          line-height: 80px; }
          #tmsearch .selector span:after {
            height: 80px;
            line-height: 80px; } }
    @media (max-width: 479px) {
      #tmsearch .selector {
        padding-left: 15px;
        min-width: 125px;
        max-width: 125px; }
        #tmsearch .selector span {
          padding-right: 30px; }
          #tmsearch .selector span:after {
            width: 30px; } }
  #tmsearch select {
    width: 100%;
    height: 60px; }
    @media (max-width: 767px) {
      #tmsearch select {
        height: 80px; } }
    #tmsearch select option {
      padding: 5px; }
  #tmsearch #tm_search_query {
    font-size: 13px;
    border: none;
    text-align: left;
    padding: 0;
    height: 60px;
    width: 0;
    margin: 0 auto;
    background: #f6f8f9;
    -moz-box-shadow: 0px 3px 27px 0px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0px 3px 27px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 3px 27px 0px rgba(0, 0, 0, 0.05);
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
    opacity: 0; }
    @media (max-width: 767px) {
      #tmsearch #tm_search_query {
        font-size: 16px;
        height: 80px; } }
  #tmsearch #search-toggle {
    display: inline-block;
    padding-top: 1px;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
    cursor: pointer; }
    #tmsearch #search-toggle:before {
      font-family: "FontAwesome";
      content: "\f002";
      display: inline-block;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      color: #222222; }
    #tmsearch #search-toggle:hover:before {
      color: #eb2972; }
  #tmsearch.active-search #tmsearchbox {
    visibility: visible; }
    #tmsearch.active-search #tmsearchbox #tm_search_query {
      opacity: 1;
      width: 100%;
      padding: 5px 65px 5px 225px;
      transition-delay: 0.1s; }
      @media (max-width: 767px) {
        #tmsearch.active-search #tmsearchbox #tm_search_query {
          padding: 5px 65px 5px 255px; } }
      @media (max-width: 479px) {
        #tmsearch.active-search #tmsearchbox #tm_search_query {
          padding-left: 165px; } }
    #tmsearch.active-search #tmsearchbox .button-search {
      opacity: 1;
      -moz-transition: 0.3s all ease;
      -o-transition: 0.3s all ease;
      -webkit-transition: 0.3s all ease;
      transition: 0.3s all ease;
      transition-property: opacity, color;
      transition-delay: 0.3s, 0s; }
    #tmsearch.active-search #tmsearchbox .search-close {
      opacity: 1;
      left: -62px;
      -moz-transition: 0.3s all ease;
      -o-transition: 0.3s all ease;
      -webkit-transition: 0.3s all ease;
      transition: 0.3s all ease;
      transition-property: opacity, left, color;
      transition-delay: 0.3s, 0.25s, 0s; }
      @media (max-width: 767px) {
        #tmsearch.active-search #tmsearchbox .search-close {
          left: auto;
          right: 23px; } }
  #tmsearch.active-search .selector {
    opacity: 1;
    -moz-transition: 0.1s all ease;
    -o-transition: 0.1s all ease;
    -webkit-transition: 0.1s all ease;
    transition: 0.1s all ease;
    transition-property: opacity;
    transition-delay: 0.3s; }
  #tmsearch.active-search:before {
    visibility: visible;
    opacity: 1; }
  #tmsearch #tmsearch_result {
    position: absolute;
    left: 17.5%;
    right: 17.5%;
    top: 50%;
    width: auto;
    z-index: 5;
    padding: 26px;
    margin-top: 35px;
    background: white;
    text-align: left;
    -moz-box-shadow: 0px 3px 27px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 3px 27px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 3px 27px 0px rgba(0, 0, 0, 0.2); }
    @media (max-width: 767px) {
      #tmsearch #tmsearch_result {
        left: 15px;
        right: 15px; } }
    @media (max-width: 479px) {
      #tmsearch #tmsearch_result {
        left: 0;
        right: 0; } }
    #tmsearch #tmsearch_result .search-page {
      overflow: hidden;
      clear: both; }
    #tmsearch #tmsearch_result .tmsearch-row {
      padding: 15px;
      margin-top: 1px;
      overflow: hidden;
      cursor: pointer;
      transition: all 0.15s ease; }
      #tmsearch #tmsearch_result .tmsearch-row .tmsearch-inner-row {
        position: relative; }
        #tmsearch #tmsearch_result .tmsearch-row .tmsearch-inner-row img {
          margin-right: 30px;
          background: #f4f4f4;
          max-width: 50px;
          height: auto; }
      #tmsearch #tmsearch_result .tmsearch-row:first-child {
        margin: 0; }
      #tmsearch #tmsearch_result .tmsearch-row:hover {
        background: #f4f4f4; }
      #tmsearch #tmsearch_result .tmsearch-row .tmsearch-inner-row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        align-items: center; }
    #tmsearch #tmsearch_result .reference, #tmsearch #tmsearch_result .quantity, #tmsearch #tmsearch_result .availability {
      display: inline-block;
      vertical-align: middle;
      margin: 0 15px 0 0;
      font-size: 12px; }
      #tmsearch #tmsearch_result .reference.availability, #tmsearch #tmsearch_result .quantity.availability, #tmsearch #tmsearch_result .availability.availability {
        text-decoration: underline; }
    #tmsearch #tmsearch_result .name {
      display: block;
      font: 400 16px/26px "Raleway", sans-serif;
      margin: 0; }
    #tmsearch #tmsearch_result .description-short {
      margin-bottom: 10px; }
    #tmsearch #tmsearch_result div > strong {
      font-weight: normal;
      color: black; }
    #tmsearch #tmsearch_result .highlight {
      color: #eb2972; }
    #tmsearch #tmsearch_result .manufacturer-name, #tmsearch #tmsearch_result .supplier-name {
      float: left;
      margin-top: 20px;
      margin-right: 15px;
      display: block;
      padding: 3px 7px;
      font-size: 11px;
      line-height: 15px; }
    #tmsearch #tmsearch_result.loading {
      opacity: 0.5; }
    #tmsearch #tmsearch_result div.hidden-row, #tmsearch #tmsearch_result div.hidden-page {
      display: none; }
    #tmsearch #tmsearch_result .pagers {
      float: right;
      padding-top: 15px; }
      #tmsearch #tmsearch_result .pagers a {
        background: #f7f7f7;
        padding: 5px 10px;
        margin: 0 3px;
        display: inline-block;
        text-decoration: none; }
        #tmsearch #tmsearch_result .pagers a:hover, #tmsearch #tmsearch_result .pagers a.active, #tmsearch #tmsearch_result .pagers a:focus {
          background: #f1f0f0;
          color: #000;
          outline: none; }
    #tmsearch #tmsearch_result .navigation {
      float: right;
      padding-top: 15px; }
      #tmsearch #tmsearch_result .navigation.top {
        padding-top: 0;
        padding-bottom: 15px; }
      #tmsearch #tmsearch_result .navigation > a {
        float: left;
        font-size: 24px;
        padding: 2px 0;
        text-decoration: none; }
        #tmsearch #tmsearch_result .navigation > a.disabled {
          cursor: default;
          color: #cccccc; }
        #tmsearch #tmsearch_result .navigation > a:hover, #tmsearch #tmsearch_result .navigation > a.active, #tmsearch #tmsearch_result .navigation > a:focus {
          outline: none; }
      #tmsearch #tmsearch_result .navigation .pagers {
        float: left;
        padding-top: 0; }
      #tmsearch #tmsearch_result .navigation .count-pages {
        float: left;
        font-size: 17px;
        padding: 5px 10px; }
        #tmsearch #tmsearch_result .navigation .count-pages .current {
          color: #000000; }
    #tmsearch #tmsearch_result .tmsearch-alllink {
      padding-top: 20px;
      float: left; }
      #tmsearch #tmsearch_result .tmsearch-alllink a {
        display: block; }
        #tmsearch #tmsearch_result .tmsearch-alllink a:after {
          font-family: "FontAwesome";
          content: "\f021";
          display: inline-block;
          font-weight: normal;
          font-size: 18px;
          margin-left: 10px;
          vertical-align: -2px; }
