.ui-to-top {
  font-size: 50px;
  line-height: 1;
  color: #222222;
  background: none;
  position: fixed;
  right: 20px;
  bottom: 60px;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  z-index: 999;
  -moz-transform: translate(0, 100px);
  -ms-transform: translate(0, 100px);
  -o-transform: translate(0, 100px);
  -webkit-transform: translate(0, 100px);
  transform: translate(0, 100px); }
  .ui-to-top:before {
    line-height: 1; }
  .ui-to-top:hover {
    color: #eb2972;
    text-decoration: none; }
  .ui-to-top.active {
    color: #222222;
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
    .ui-to-top.active:hover {
      color: #eb2972; }

.mobile .ui-to-top,
.tablet .ui-to-top {
  display: none !important; }

.content_only .ui-to-top {
  display: none !important; }
